div.advanced-search {
    width: 100%;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
/*     font-size: 10px; */
    padding: 20px;
/*     display: inline-block; */
}
/* div.as_cell {
    float: left;
} */
/* div.advanced-search tr {
    border: none;
    outline: none;
}
div.advanced-search td {
    border: 1px solid red;
    font-size: 10px;
    padding: 5px;
} */
div.advanced-search input[type=text]:focus {
    border-bottom: blue 2px solid !important;
}
div.advanced-search input[type=text],
div.advanced-search input[type=date] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
}
/* div.advanced-search td.h {
    width: 120px;
    text-align: right;
    vertical-align: top;
    font-weight: bold;
} */
div.advanced-search input[type='date'] {
    width: 130px !important;
}
div.advanced-search input[name="as-status"] {
    width: 16px;
    height: 16px;
    background-color: white;
    vertical-align: middle;
    border: 1px solid #444;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
div.advanced-search input[name="as-status"]:checked {
    background-color: green;
}
/* div.advanced-search td.footer {
    text-align: left;
} */

/* responsive form */
/* .flex-outer {
    padding: 0;
}

.flex-outer li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.flex-outer > li > label {
    flex: 1 0 120px;
    max-width: 220px;
    font-weight: bold;
    /* text-align: right;
    padding-right: 20px;
}

.flex-outer > li > label + .fullwidth {
    flex: 1 0 220px;
} */

input[name="as-refreshCache"] {
    margin-right: 10px;
}

/* remove the empty labels from display */
.flex-outer > li > label.empty {
    margin-left: -200px;
}

.flex-outer > li > label.empty2 {
    margin-left: -100px;
}

#mapSearch {
    --map-width: 100%;
}

#mapSearch {
    width: var(--map-width);
    height: calc( 0.75 * var(--map-width) + 30px );
    min-height: 230px;
}

select[name*="as-"],
input[name*="as-"] {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

select[name="as-biome"] {
    width: 100%;
}
/* .flex-outer li button {
    margin-left: auto;
    padding: 8px 16px;
    border: none;
    background: #333;
    color: #f2f2f2;
    text-transform: uppercase;
    letter-spacing: 0.09em;
    border-radius: 2px;
} */