div.advanced-search {
    width: 100%;
    margin: auto;
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 20px;
}
/* Larger than phablet */
@media (min-width: 550px) {
    div.advanced-search {
        max-width: 760px;
    }
}

/* Larger than tablet */
@media (min-width: 768px) {
    div.advanced-search {
        max-width: 760px;
    }
}

/* Larger than desktop */
@media (min-width: 1100px) { 
    div.advanced-search {
        max-width: 930px;
    }
}

div.advanced-search input[type=text]:focus {
    border-bottom: blue 2px solid !important;
}
div.advanced-search input[type=text],
div.advanced-search input[type=date] {
    outline: none;
    border: none;
    border-bottom: 1px solid grey;
    width: 100%;
}
div.advanced-search input[type='date'] {
    width: 130px !important;
}
div.advanced-search input[name="as-status"] {
    width: 16px;
    height: 16px;
    background-color: white;
    vertical-align: middle;
    border: 1px solid #444;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
div.advanced-search input[name="as-status"]:checked {
    background-color: green;
}
input[name="as-refreshCache"] {
    margin-right: 10px;
}

/* remove the empty labels from display */
.flex-outer > li > label.empty {
    margin-left: -200px;
}
.flex-outer > li > label.empty2 {
    margin-left: -100px;
}

/* Larger than mobile */
@media only screen and (min-width: 400px) {
    .flex-outer > li > label {
        text-align: right;
        padding-right: 20px;
    }
    .flex-outer > li > label.empty {
        margin-left: unset;
    }
    .flex-outer > li > label.empty2 {
        margin-left: unset;
    }
}

#mapSearch {
    --map-width: 100%;
    width: var(--map-width);
    height: calc( 0.75 * var(--map-width) + 30px );
    min-height: 230px;
}

/* Larger than mobile */
@media only screen and (min-width: 400px) {
    #mapSearch {
        min-height: 480px;
    }
}

/* Larger than tablet */
@media (min-width: 768px) {
    #mapSearch {
        /* width: 720px;
        height: 540px; */
        min-height: 540px;
    }
}

/* Larger than desktop */
@media (min-width: 1100px) {
    #mapSearch {
        /* width: 850px;
        height: 637px; */
        min-height: 600px;
    }
}

/* wildcard * in CSS for classes */
/* https://stackoverflow.com/a/5110337 */
select[name*="as-"],
input[name*="as-"] {
    margin: 0.5rem 0.5rem 0.5rem 0;
}

select[name="as-biome"] {
    width: 100%;
}