/* https://github.com/codepo8/simple-carousel/blob/master/carousel-simplest.html */
.carouselbox {
    width: var(--image-size);
    position: relative;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 10px 1px #dbd9d5;
    overflow: hidden;
    
    /* avoid figures splitting across columns */
    /* see https://stackoverflow.com/a/17415553/183692 */
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
    -webkit-column-break-inside: avoid; 
}
.slides {
    margin: 0;
    padding: 0;
}
.slide {
    margin: 0;
    padding: 0;
    width: 100%;
    z-index: 2;
    display: none;
}
.slide.current {
    top: 30px;
    display: block;
}
.carouselbox .buttons {
    display: block;
    padding: 2px 0 6px 0;
    background: #eee;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    z-index: 10;
    position: relative;
}
.carouselbox button {
    border: none;
    visibility: visible;
} 
.offscreen {
    position: absolute;
    left: -2000px;
}