#images {
    width: 100%;
    text-align: center;
    position: relative;
}
#graphdiv {
    margin: 0 auto !important;
    font-family: sans-serif;
    width: 100%;
}
div.leg {
    text-align: left;
}
div.leg hr {
    margin: 0;
}
div.caption {
    color: grey;
    font-size: 10pt;
    font-family: sans-serif; 
}
#charts-container summary {
    visibility: hidden;
    font-size: 8pt;
}
#charts {
    display: none;
}
details.charts summary {
    outline: none;
    padding: 0.5rem;
    display: block;
    /* padding-left: 2rem; */
    position: relative;
    color: grey;
    font-size: 10pt;
    font-family: sans-serif;
}
#yearlyCounts,
#termFreq {
    display: none;
    visibility: hidden;
}
div.caption span,
details.charts summary span {
    color: black;
}
details.charts summary::-webkit-details-marker {
    display: none;
}