#images {
    width: 100%;
    text-align: center;
    position: relative;
}

#graphdiv {
    margin: 0 auto !important;
    font-family: sans-serif;
    width: 100%;
}

div.leg {
    text-align: left;
}

div.leg hr {
    margin: 0;
}