figure {
    position: relative;
    height: auto;
    border: 0px solid #444;
    margin: 0;
    padding: 0px;
    opacity: 1;
    text-align: center;
}
figure img.lazyloaded {
    width: 100%;
    max-width: 300px;
}
figure a:hover {
    background-color: unset;
    padding: unset;
    border: unset;
    border-radius: unset;
}
figure .reveal {
    background-color: white;
    color: grey;
    font-family: sans-serif;
    font-size: 8px;
    padding: 2px 4px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}
figure .reveal:hover {
    background-color: lightgrey;
    color: black;
}
figure.figure-250 { 
    width: var(--image-size); 
    margin: 0 auto 20px auto;
}

/* Larger than phablet */
@media (min-width: 550px) {
    figure.figure-250 { 
        margin: 0 auto 20px auto;
    }
}

figure.figure-100 { 
    width: 100px; 
    margin: 0 auto 10px auto;
}
figure.figure-100.tb { 
    width: 100px; 
    margin: 0 auto 10px auto;
    border: 1px solid black;
}
figure.figure-100.tb .reveal { 
    display: none;
}
figure.figure-50 { 
    width: 50px; 
    margin: 0 auto 10px auto;
}
figure.tb {
    /* padding: 1rem; */
    font-family: sans-serif;
    font-size: 12px;
}
figcaption {
    font-family: helvetica,sans-serif;
    font-size: 10pt;
    text-align: left;
    cursor: pointer;
    line-height: 1.1rem;
    /* padding-bottom: 1rem; */
}
figcaption div.closed {
    height: 0;
}
figcaption div.figTitle {
    font-weight: 800;
}
figcaption div.open {
    height: 100%;
}
figcaption h3 {
    line-height: 1.25rem;
}
figcaption details {
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}
figcaption details summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;

    /******************************/
    /* limit length of summary    */
    /* https://btxx.org/posts/te/ */
    /******************************/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
figcaption details[open] {
    padding: 0.5em;
    overflow: auto;
}
figcaption details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
    overflow: unset;
    white-space: unset;
}