/* Mobile first queries */

/* position form in the center of div */
/* https://stackoverflow.com/a/31386275 */
form {
    position: relative;
    text-align: left;
    font-family: sans-serif;
    margin: 0 auto;
}
#ns-container {
    --ns-container-min-height: 36px;
    --ns-button-width: 50px;
    --ns-border-radius: calc( var(--ns-container-min-height) / 2 );
    --ns-theme: gray;
    font-family: sans-serif;
    font-size: 12px;
}
#as-container {
    --as-container-min-height: 36px;
    --as-button-width: 75px;
    --as-border-radius: calc( var(--as-container-min-height) / 2 );
    --as-theme: gray;
    font-family: sans-serif;
    font-size: 12px;
}
.search-container {
    border: none;
    clear: both;
    margin: 0px;
}
#bottom-menu {
    position: relative;
    clear: both;
    height: 40px;
    /* overflow: hidden; */
}
.switchSearch {
    font-size: 10px;
    text-align: right;
    padding: 5px 20px;
}
#help-msg {
    font-size: 10px;
    padding-left: 15px;
    line-height: 18px;
}
.ns {
    border-radius: var(--ns-border-radius) 0 0 var(--ns-border-radius);
    border: 1px solid var(--ns-theme);
    width: calc( 100% - var(--ns-button-width) );
    min-height: var(--ns-container-min-height);
    padding: 0px;
    float: left;
}
.ns-val-input {
    float: left;
    padding-left: 0px;
    margin: 5px 0px 2px 0px;
    line-height: 18px;
    height: 24px;
    border: none;
    width: calc(100% - 105px);
}
input.ns-val-input:focus {
    outline: none;
}
#ns-input-controls {
    float: left;
    /* width: 55px; */
    height: 24px;
    margin: 5px 2px 2px 0px;
    padding: 0;
    border: none;
}
#refreshCache-2,
#refreshCache {
    width: 16px;
    height: 16px;
    background-color: white;
    vertical-align: middle;
    border: 1px solid #444;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
#refreshCache-2:checked,
#refreshCache:checked {
    background-color: red;
}
#refreshCache-2::before,
#refreshCache-2::after,
#refreshCache::before,
#refreshCache::after {
    --pop-bg-color: red;
}
#clear-q {
    width: 18px;
    height: 18px;
    background-color: lightgrey;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid lightgrey;
    cursor: pointer;
    line-height: 10px;
    text-align: center;
    padding: 0;
}
#clear-q:hover {
    background-color: red;
    color: white;
}
.ns-button-primary {
    height: var(--ns-container-min-height);
    width: var(--ns-button-width);
    border-radius: 0 var(--ns-border-radius) var(--ns-border-radius) 0;
    background-color: var(--ns-theme);
    border: 1px solid var(--ns-theme);
    color: white;
    text-transform: uppercase;
    padding: 0 15px 0 10px;
    right: 0;
    cursor: pointer;
}
.ns-button-primary:hover,
.as-button-primary:hover {
    background-color: green;
} 
.as-button-primary {
    height: var(--as-container-min-height);
    width: var(--as-button-width);
    border-radius: var(--as-border-radius);
    background-color: var(--as-theme);
    border: 1px solid var(--as-theme);
    color: white;
    text-transform: uppercase;
    padding: 0 15px 0 10px;
    /* right: 0; */
    cursor: pointer;
}
/* https://www.w3docs.com/snippets/css/how-to-create-flashing-glowing-button-using-animation-in-css3.html */
@keyframes glowing {
    0% {
        background-color: #2ba805;
    }
    50% {
        background-color: #49e819;
    }
    100% {
        background-color: #2ba805;
    }
}
.glowing {
    animation: glowing 1300ms infinite;
}
/* end Clearable */

#refreshCacheMsg {
    margin-top: 5px;
    color: red;
    font-family: sans-serif;
    font-size: 10px;
    display:block;
    text-align: center;
}
.red-placeholder {
    color: red;
}

/* https://stackoverflow.com/a/30117998/183692 */
/* Chrome, Firefox, Opera, Safari 10.1+ */
.red-placeholder::placeholder { 
    color: red;

    /* Firefox */
    opacity: 1; 
}

/* Internet Explorer 10-11 */
.red-placeholder:-ms-input-placeholder {
    color: red;
}

/* Microsoft Edge */
.red-placeholder::-ms-input-placeholder {
    color: red;
}
.view-wrapper {
    text-align: left;
    font-family: sans-serif;
    font-size: small;
    padding: 10px;
}
#search-help { 
    color: blue;
    text-decoration: underline;
    padding-left: 12px;
    cursor: help;
    font-family: sans-serif;
    font-size: small;
    text-align: left;
}
.qs {
    background: url(/img/icons.svg);
    display: inline-block;
    height: 32px;
    width: 31px;
    outline: none;
    border: none;
}
#ants {
    background-position: -1px 0px;
}
#fishes {
    background-position: -31px 0px;
}
#spiders {
    background-position: -61px 0px;
}
#shrimp {
    background-position: -91px 0px;
}
#beetles {
    background-position: -121px 0px;
}
#examples {
    background-position: -151px 0px;
}
.warn {
    background-color: orange;
    color: white;
    padding: 5px;
    border-radius: 0 0 5px 5px;
    float: right;
    margin-left: 5px;
    margin-top: -5px;
    height: 35px;
}
button[disabled],
input[disabled] {
    background-color: lightgrey;
}
.required {
    outline: 1px solid red;
    border: 1px solid red;
    background-color: red;
    color: white;
}