/* Mobile first queries */
table {
    margin: unset;
}

.columns-250 {

    /* settings for the grid */
    --column-count: 1;
    --column-gap: 20px;
    --image-size: 300px;
    --columns-width: calc( var(--image-size) * var(--column-count) );
    --gaps-width: calc( (var(--column-count) - 1) * var(--column-gap) );
    --grid-width: calc( var(--columns-width) + var(--gaps-width) );

    width: var(--grid-width);
    max-width: var(--grid-width);
    margin: 0 auto;

    column-count: var(--column-count);
    -webkit-column-count: var(--column-count);
    -moz-column-count: var(--column-count);
    
    column-gap: var(--column-gap);
    -moz-column-gap: var(--column-gap);
    -webkit-column-gap: var(--column-gap);
}

.columns-100 {

    /* settings for the grid */
    --column-count: 3;
    --column-gap: 10px;
    --image-size: 100px;
    --columns-width: calc( var(--image-size) * var(--column-count) );
    --gaps-width: calc( (var(--column-count) - 1) * var(--column-gap) );
    --grid-width: calc( var(--columns-width) + var(--gaps-width) );

    width: var(--grid-width);
    max-width: var(--grid-width);
    margin: 0 auto;

    column-count: var(--column-count);
    -webkit-column-count: var(--column-count);
    -moz-column-count: var(--column-count);
    
    column-gap: var(--column-gap);
    -moz-column-gap: var(--column-gap);
    -webkit-column-gap: var(--column-gap);
}

.columns-50 {

    /* settings for the grid */
    --column-count: 5;
    --column-gap: 10px;
    --image-size: 50px;
    --columns-width: calc( var(--image-size) * var(--column-count) );
    --gaps-width: calc( (var(--column-count) - 1) * var(--column-gap) );
    --grid-width: calc( var(--columns-width) + var(--gaps-width) );

    width: var(--grid-width);
    max-width: var(--grid-width);
    margin: 0 auto;

    column-count: var(--column-count);
    -webkit-column-count: var(--column-count);
    -moz-column-count: var(--column-count);
    
    column-gap: var(--column-gap);
    -moz-column-gap: var(--column-gap);
    -webkit-column-gap: var(--column-gap);
}

/* the following prevents the first figure in the 
 * column to have a margin at the top, a left-over
 * of the last figure in the previous column */
.columns figure:last-child {
    margin: 0;
}

figure {
    position: relative;
    height: auto;
    border: 1px solid #444;
    padding: 0;
    opacity: 1;

    /* avoid figures splitting across columns */
    /* see https://stackoverflow.com/a/17415553/183692 */
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}
/* figure.tb {
    
} */
figure img.lazyloaded {
    width: 100%;
}
figure a:hover {
    background-color: unset;
    padding: unset;
    border: unset;
    border-radius: unset;
}
figure .reveal {
    background-color: white;
    color: grey;
    font-family: sans-serif;
    font-size: 8px;
    padding: 2px 4px;
    cursor: pointer;
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
}
figure .reveal:hover {
    background-color: lightgrey;
    color: black;
}

figure.figure-250 { 
    width: var(--image-size); 
    margin: 0 auto 20px auto;
}
figure.figure-100 { 
    width: 100px; 
    margin: 0 auto 10px auto;
}
figure.figure-100.tb { 
    width: 100px; 
    margin: 0 auto 10px auto;
    border: 1px solid black;
}
figure.figure-100.tb .reveal { 
    display: none;
}
figure.figure-50 { 
    width: 50px; 
    margin: 0 auto 10px auto;
}
figure.tb {
    padding: 10px;
    font-family: sans-serif;
    font-size: 12px;
}
figcaption {
/*     font-size: 10px; */
/*     font-family: sans-serif; */
/*     padding: 5px 5px 0 5px; */
    text-align: left;
    cursor: pointer;
}

figcaption div.closed {
    height: 0;
}

figcaption div.figTitle {
    font-weight: 800;
}
figcaption div.open {
    height: 100%;
}
#grid-images details {
    border: 1px solid lightgray;
    border-radius: 4px;
    padding: 0.5em 0.5em 0;
}

#grid-images details summary {
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1);

    /******************************/
    /* limit length of summary    */
    /* https://btxx.org/posts/te/ */
    /******************************/
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#grid-images details[open] {
    padding: 0.5em;
}

#grid-images details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.5em;
}

/* treatments figures */
p.treatmentTitle {
    font-weight: bold;
    font-size: 150%;
    font-family: 'Fjalla One', sans-serif;
    color: #444;
}

p.citation {
    text-align: left;
    line-height: 1.5;
    padding-bottom: 10px;
}

span.articleTitle {
    font-family: Lora, serif;
    font-style: italic;
    /* font-size: 120%; */
}

span.journalTitle {
    text-decoration: underline;
    text-decoration-thickness: 2px;
}

img.zenodoLink {
    width: 50px;
    height: 20px;
    padding-bottom: 2px;
}

img.tbLink {
    width: 35px;
    height: 20px;
    padding-bottom: 2px;
}

img.zenodoLink:hover,
img.tbLink:hover {
    border-bottom: 1px solid blue;
}
/* end: treatments figures */

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#puff {
    cursor:pointer;
    display:none;
    position:absolute;
    z-index: 1000;
    height:32px;
    width:32px;
    background: url(/img/wvPeK.png) no-repeat;
}

div.switches {
    position: absolute;
    margin: 5px;
}

div.dc {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
    margin: 2px;
    cursor: pointer;
}

div.close,
div.maximize {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    float: left;
    margin: 2px;
    cursor: pointer;
    line-height: 1.2em;
    font-family: sans-serif;
}

div.maximize {
    border: 1px solid green;
    background-color: green;
}

/* TO DO: will activate this later */
/* 
div.close {
    border: 1px solid red;
}

div.close:hover {
    background-color: red;
}

div.close:hover:before {
    content: 'x';
} 
*/
#search-criteria,
#pager {
    text-align: center;
}
#search-criteria {
    margin-bottom: 1rem;
    padding: 1rem;
    top: -10px;
    position: absolute;
    left: 40%;
    z-index: 999;
    font-size: 10px;
    font-family: sans-serif;
}
#pager {
    /* border-top: 1px solid silver; */
    margin-top: 3rem;
}
#pager.filled {
    border-top: 1px solid silver;
}
#pager a {
    margin: 1rem;
}