header {
    text-align: center;
    position: relative;
    display: block;
}
header .title {
    display: none;
}
header .title h1 {
    margin: 0 0 -10px 0;
}
header .title h1 a {
    text-decoration: none;
    color: black !important;
    font-weight: 100;
    font-size: 24px;
}
#brand {
    color: grey;
    font-size: 15px;
    position: absolute;
    font-family: sans-serif;
    left: calc(50% + 40px);
    top: 10px;
    cursor: pointer;
}
.smallbrand {
    font-size: 8px !important;
}
header .subtitle {
    display: none;
}