header {
    text-align: center;
    position: relative;
    display: block;
}
header .title h1 {
    margin: 0 0 0px 0;
}
header .title h1 a {
    text-decoration: none;
    color: black !important;
    font-weight: 100;
    font-size: 24px;
}
header div.subtitle {
    display: none;
}

/* Larger than phablet */
@media (min-width: 550px) {
    /* header .title {
        display: block;
    } */
    header .title h1 a {
        font-size: 27px !important;
    }
    header div.subtitle {
        display: block;
    }
}

/* TODO: where is default header .small */

/* Larger than tablet */
@media (min-width: 768px) {
    header .small {
        text-transform: uppercase;
        font-size: 10px;
    }
}

#brand {
    color: grey;
    font-size: 12px;
    position: absolute;
    font-family: sans-serif;
    left: calc(50% + 40px);
    top: 5px;
    cursor: pointer;
}

/* Larger than phablet */
@media (min-width: 550px) {
    #brand {
        left: calc(50% + 43px);
    }
}

.smallbrand,
.smallbrand a {
    font-size: 8px !important;
    
}