#throbber {
    padding: 0;
    bottom: 0;
    height: 8px;
    margin-bottom: 2rem;
    border-bottom: 1px solid silver;
    padding: 0;
    transition: opacity 0.3s ease;
    background-size: 30px 30px;
    background-image: linear-gradient(
        45deg, 
        rgba(0, 0, 0, 0.1) 25%, 
        transparent 25%, 
        transparent 50%, 
        rgba(0, 0, 0, 0.1) 50%, 
        rgba(0, 0, 0, 0.1) 75%, 
        transparent 75%, 
        transparent
    );
    animation: barberpole 0.5s linear infinite;
}
.nothrob {
    opacity: 0;
}
@keyframes barberpole {
    from { background-position: 0 0; }
    to { background-position: 60px 30px; }
}