/* Larger than mobile */
@media only screen and (min-width: 400px) {
    .columns-50 {
        --column-count: 6 !important;
    }
    .columns-100 {
        --column-count: 3 !important;
    }
    .flex-outer > li > label {
        text-align: right;
        padding-right: 20px;
    }
    .flex-outer > li > label.empty {
        margin-left: unset;
    }
    .flex-outer > li > label.empty2 {
        margin-left: unset;
    }
    #mapSearch {
        /* --map-width: 600px; */
        min-height: 480px;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    header .title {
        display: block;
    }
    /* #throbber {
        margin-bottom: 2rem;
    } */
    header h1 a {
        font-size: 27px !important;
    }
    #brand {
        left: calc(50% + 43px);
    }
    header div.subtitle {
        display: block;
    }
    .modal {
        max-width: unset;
    }
    .columns-50 {
        --column-count: 9 !important;
    }
    .columns-100 {
        --column-count: 5 !important;
    }
    .columns-250 {
        --image-size: 250px;
        --column-count: 2 !important;
    }

    /* show the advanced search button */
    div.r {
        visibility: visible;
    }
    figure.figure-250 { 
        margin: 0 auto 20px auto;
    }
    .pager div {
        padding: 5px 7px;
    }
    
    div.advanced-search {
        max-width: 760px;
    }

    #mapSearch {
        /* --map-width: 500px; */
        min-height: 480px;
    }
}

/* Larger than tablet */
@media (min-width: 768px) {
    .columns-50 {
        --column-count: 13 !important;
    }
    .columns-100 {
        --column-count: 7 !important;
    }
    .columns-250 {
        --column-count: 3 !important;
    }
    header .small {
        text-transform: uppercase;
        font-size: 10px;
    }
    form {
        max-width: 790px;
    }
    #sparkBox .chart {
        display: inline-block;
    }
    #charts-container,
    #charts {
        display: block;
        visibility: hidden;
        border: 1px solid lightgrey;
        border-top: none;
        padding-bottom: 20px;
        background-color: white;
    }
    details.charts {
        box-sizing: border-box;
        margin: 0 auto 20px auto;
        background: white;
        max-width: 790px;
    }
    details.charts summary {
        border: 1px solid lightgrey;
        border-radius: 5px 5px 0 0;
        background: #f5f5f5;
        cursor: pointer;
        padding-left: 2rem;
    }
    details.charts[open] > summary:before {
        transform: rotate(90deg);
    }
    details.charts summary:before {
        content: "";
        border-width: 0.4rem;
        border-style: solid;
        border-color: transparent transparent transparent #ccc;
        position: absolute;
        top: 0.7rem;
        left: 1rem;
        transform: rotate(0);
        transform-origin: 0.2rem 50%;
        transition: 0.25s transform ease;
    }

    div.advanced-search {
        max-width: 760px;
    }

    #mapSearch {
        /* width: 720px;
        height: 540px; */
        min-height: 540px;
    }
}

/* Larger than desktop */
@media (min-width: 1100px) {
    .modal {
        max-width: 960px;
        left: calc(50% - 480px);
    }
    .columns-50 {
        --column-count: 18 !important;
    }
    .columns-100 {
        --column-count: 10 !important;
    }
    .columns-250 {
        --column-count: 4 !important;
    }
    #dashboardCharts div.chart {
        display: inline-block;
    }
    #dashboardCharts div.caption {
        max-width: 255px;
    }
    form {
        max-width: 960px;
    }  
    div.advanced-search {
        max-width: 930px;
    }
    #mapSearch {
        /* width: 850px;
        height: 637px; */
        min-height: 600px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1400px) {
    .columns-50 {
        --column-count: 23 !important;
    }
    .columns-100 {
        --column-count: 12 !important;
    }
    .columns-250 {
        --column-count: 5 !important;
    }
    details.charts {
        max-width: 1330px;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1920px) {
    .columns-50 {
        --column-count: 32 !important;
    }
    .columns-100 {
        --column-count: 17 !important;
    }
    .columns-250 {
        --column-count: 7 !important;
    }
}

/* Larger than Desktop HD */
@media (min-width: 2300px) {
    .columns-50 {
        --column-count: 38 !important;
    }
    .columns-100 {
        --column-count: 21 !important;
    }
    .columns-250 {
        --column-count: 8 !important;
    }
}

/* Larger than Desktop HD */
@media (min-width: 2500px) {
    .columns-50 {
        --column-count: 41 !important;
    }
    .columns-100 {
        --column-count: 22 !important;
    }
    .columns-250 {
        --column-count: 9 !important;
    }
}

@media (min-width: 3000px) {
    .columns-50 {
        --column-count: 50 !important;
    }
    .columns-100 {
        --column-count: 27 !important;
    }
    .columns-250 {
        --column-count: 11 !important;
    }
}