/*****************************************/
/* ocellus^3: base styles                */
/*****************************************/

html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
a {
    color: blue;
    cursor: pointer;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}