/*****************************************/
/* ocellus^3: media queries              */
/*****************************************/

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    header {
        padding: 0 1rem;
    }
    header > div {
        display: grid;
        padding: 2rem 1rem 0rem 1rem;
        grid-template-columns: 1fr 5fr;
        grid-template-rows: 1fr; 
        grid-column-gap: 10px;
        grid-row-gap: 0px; 
    }
    .title {
        text-align: center;
        float: left;
        padding-top: 30px;
    }
    .title > div {
        float: right;
        margin-right: 40px;
    }
    #ssForm,
    #fSearch {
        width: 90%;
        font-size: 1rem;
        max-width: 960px;
    }
}

/* Larger than phablet */
@media (min-width: 900px) {}

/* Larger than tablet */
@media (min-width: 1200px) {}