/*****************************************/
/* ocellus^3: pager                      */
/*****************************************/

#pager {
    margin: 0 auto;
    z-index: 1;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
} 
#prev {
    margin-right: 1em;
} 
#next {
    margin-left: 1em;
} 
#prev:visited,
#next:visited {
    color: blue;
}