/*****************************************/
/* ocellus^3: partials                   */
/*****************************************/

.crit-key {
    font-weight: bold;
}
.crit-val {
    font-style: italic;
    font-family: serif;
}