/*****************************************/
/* ocellus^3: treatment                  */
/*****************************************/
.treatmentInfo table {
    width: 100%;
}
.treatmentInfo table th {
    text-align: right;
    width: 20%;
}
.treatmentInfo table td {
    overflow-x: auto;
    width: 80%;
}
.treatmentInfo table th,
.treatmentInfo table td {
    font-size: 10px;
}
.treatment ul.citations {
    text-align: left;
    list-style-position: outside;
    padding: 2rem;
}
.treatment ul.citations li {
    margin-bottom: 1.5rem;
}
.treatment figcaption {
    text-align: left;
}
.xml-marker {
    border: 1px solid grey;
    border-radius: 5px;
    color: #444;
    font-size: 1rem;
    padding: 2px;
    cursor: pointer;
}
.xml-marker:hover {
    background-color: green;
    color: white;
}
#map { 
    width: 100%;
    height: 300px; 
    /* margin-bottom: 20px; */
}