/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    section.toggled-none {
        padding: 1rem;
    }
    
    .masonry-100 {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    .masonry-250 {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

/* Larger than phablet */
@media (min-width: 900px) {
    .masonry-100 {
        -moz-column-count: 8;
        -webkit-column-count: 8;
        column-count: 8;
    }
    .masonry-250 {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
    main section.modal {
        width: 50%;
        margin: auto;
    }
    main section {
        margin: auto;
    }
}

/* Larger than tablet */
@media (min-width: 1200px) {
    .masonry-100 {
        -moz-column-count: 11;
        -webkit-column-count: 11;
        column-count: 11;
    }
    .masonry-250 {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 1920px) {
    .masonry-100 {
        -moz-column-count: 19;
        -webkit-column-count: 19;
        column-count: 19;
    }
    .masonry-250 {
        -moz-column-count: 7;
        -webkit-column-count: 7;
        column-count: 7;
    }
}

@media (min-width: 2300px) {
    .masonry-100 {
        -moz-column-count: 22;
        -webkit-column-count: 22;
        column-count: 22;
    }
    .masonry-250 {
        -moz-column-count: 9;
        -webkit-column-count: 9;
        column-count: 9;
    }
}

@media (min-width: 2500px) {
    .masonry-100 {
        -moz-column-count: 24;
        -webkit-column-count: 24;
        column-count: 24;
    }
    .masonry-250 {
        -moz-column-count: 9;
        -webkit-column-count: 9;
        column-count: 9;
    }
}