#privacy,
#about {
    display: none;
}
#privacy.show,
#about.show {
    display: block;
}
#privacy-text,
#about-text {
    margin-top: 12px;
}
.privacy,
.about {
    font-size: 1.5rem;
}
#privacy-link,
#privacy-close,
#about-link, 
#about-close {
    cursor: pointer;
}
#privacy-close,
#about-close {
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -moz-animation: blink normal 2s infinite ease-in-out;
    -webkit-animation: blink normal 2s infinite ease-in-out;
    -ms-animation: blink normal 2s infinite ease-in-out;
    animation: blink normal 2s infinite ease-in-out;
}
/* about-close fade-in fade-out */
@keyframes blink {
    0%   { color: rgba(0,0,0,1  ) }
    25%  { color: rgba(0,0,0,0.5) }
    50%  { color: rgba(0,0,0,0  ) }
    75%  { color: rgba(0,0,0,0.5) }
    100% { color: rgba(0,0,0,1  ) }
}
@-webkit-keyframes blink {
    0%   { color: rgba(0,0,0,1  ) }
    25%  { color: rgba(0,0,0,0.5) }
    50%  { color: rgba(0,0,0,0  ) }
    75%  { color: rgba(0,0,0,0.5) }
    100% { color: rgba(0,0,0,1  ) }
}