/* single treatment (no xml – for xml styling, see ocellus-xml */
#treatment h2 {
    z-index: 2;
    background-color: white;
    padding: 5px;
    height: 40px;
    font-size: 21px;
    border-bottom: 1px solid black;
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -ms-sticky;
    position: -o-sticky;
    position: sticky;
}
h2.treatmentTitle {
    top: 0px;
}
h2.map {
    top: 51px;
}
h2.figures {
    top: 102px;
}
h2.citations {
    top: 153px;
}
h2.xmltext {
    top: 204px;
}
h2 ~ div {
    padding: 2rem;
}
#treatmentInfo {
    top: 0px;
    background-color: white;
    padding-bottom: 5px;
}
ul.pids {
    list-style: none;
    font-weight: bold;
}
ul.pids li {
    line-height: 2rem;
    /* font-size: 80%; */
}
ul.pids a {
    font-weight: normal;
}
p.journal {
    font-size: 1.1em;
}
.xml-marker {
    border: 1px solid lightblue;
    background-color: lightblue;
    border-radius: 5px;
    color: #444;
    font-size: 1rem;
    padding: 2px;
}

/* map */
#map {
    z-index: 1;
    height: 300px; 
    margin-bottom: 20px;
    display: none;
    /*! width: 100%; */
}
#map.show {
    display: block;
}
/* end map */
/* end treatments */