#wrapper {
    width: 100%;
    margin: 0 auto;
    background-color: white;
    opacity: 1;
    display: none;
}
#wrapper.show {
    display: block;
}
#carouselContainer {
    cursor: pointer;
}

#chart-container {
    display: none;
    position: relative; 
    width:80vw;
}

#chart-container.show {
    display: block;
}

/* #privacy,
#about,
#wrapper,
#carouselContainer {
    display: block;
}
#privacy.show,
#about.show,
#wrapper.show,
#carouselContainer.show {
    display: block;
} */

/* .nonModal,
.modal {
    display: none;
}
.modal.show {
    display: block;
} */
.modal {
    cursor: pointer;
}
.modal-text {
    margin-top: 12px;
    font-size: 1.5rem;
    font-family: serif;
}

#privacy-link,
#about-link {
    cursor: pointer;
}

.modal-close {
    cursor: pointer;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -ms-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -moz-animation: blink normal 2s infinite ease-in-out;
    -webkit-animation: blink normal 2s infinite ease-in-out;
    -ms-animation: blink normal 2s infinite ease-in-out;
    animation: blink normal 2s infinite ease-in-out;
}
/* about-close fade-in fade-out */
@keyframes blink {
    0%   { color: rgba(0,0,0,1  ) }
    25%  { color: rgba(0,0,0,0.5) }
    50%  { color: rgba(0,0,0,0  ) }
    75%  { color: rgba(0,0,0,0.5) }
    100% { color: rgba(0,0,0,1  ) }
}
@-webkit-keyframes blink {
    0%   { color: rgba(0,0,0,1  ) }
    25%  { color: rgba(0,0,0,0.5) }
    50%  { color: rgba(0,0,0,0  ) }
    75%  { color: rgba(0,0,0,0.5) }
    100% { color: rgba(0,0,0,1  ) }
}