/* chartist */
/* #charts {
    max-width: 960px; 
    margin: auto;
} */
.ct-series-a .ct-bar {
    /* Colour of your bars */
    stroke: red;
    /* The width of your bars */
    stroke-width: 40px;
    /* Yes! Dashed bars! */
  /*   stroke-dasharray: 20px; */
    /* Maybe you like round corners on your bars? */
  /*   stroke-linecap: round; */
}
.ct-label {
    color: black;
    font-size: 1rem;
}
.ct-label.ct-label.ct-horizontal.ct-end {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    transform-origin: 100% 0;
    transform: translate(-100%) rotate(-45deg);
    white-space:nowrap;
}
/* end chartist */