html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
article {
    flex: 1 1 0%;
    margin: auto;
    padding: 0rem;
    width: 100%;
    max-width: 960px;
}
a {
    color: blue;
}
h3 {
    font-size: 2rem;
}
.modal-toggle {
    cursor: pointer;
}
/* #charts,
#about,
#privacy,
#images,
#carousel,
#treatments,
#treatment {
    display: none;
}
#charts.show,
#about.show,
#privacy.show,
#images.show,
#carousel.show,
#treatments.show,
#treatment.show {
    display: block;
    padding: 2rem;
} */
.hidden-panel {
    display: none;
}
.visible-panel {
    display: block;
    padding: 2rem;
} 

/* header */
header {
    background-color: #f5f5f5;
    border-bottom: 1px solid silver;
    position: relative;
    margin-bottom: 5rem;
}
header > div {
    padding: 1rem;
}
footer {
    text-align: center;
    padding: 0;
}
footer img {
    width: 80%;
    max-width: 480px;
}
.qryCol {
	
	font-weight: bold;
}
.qryVal {
	font-style: italic;
	text-decoration: underline;
}
/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    .title {
        width: 100px;
        padding-top: 27px;
        margin-left: 0rem;
    }
    header > div {
        display: flex;
        flex-direction: row;
    }

}

/* Larger than phablet */
@media (min-width: 900px) {
     .title {
        margin-left: 0rem;
    }
    #ssForm,
    #fSearch {
        margin-right: 10rem;
    }
}

/* Larger than tablet */
@media (min-width: 1200px) {}