.masonry {
    margin: 0;
    padding: 0;
    -moz-column-gap: 1em;
    -webkit-column-gap: 1em;
    column-gap: 1em;
    font-size: .85em;
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
    width: 99%;
}
.item {
    width: 100%;
    padding: 0px;
    border: 0px solid black;
}
.masonry figure {
    position: relative;
    overflow: hidden;
    border: 1px solid #000;
    /* min-height: 200px; */
    height: auto;
    margin: 0 0 1em 0 !important;

    /* avoid figures splitting across columns */
    /* see https://stackoverflow.com/a/17415553/183692 */
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
    text-align: center;
}
.masonry figure img {
    width: 100%;
/*     border: 0px solid silver; */
    margin-bottom: 0px;
    cursor: pointer;
}
.masonry figcaption {
    background: rgba(250, 250, 250, 0.8);
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    max-height: 30px;
    padding: 5px;
    text-align: left;
    line-height: 1.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 1.2em;
    font-weight: 400;
    opacity: 1 !important;
    border: 0px solid grey;
    cursor: pointer;
}
.masonry figcaption a {
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: blue;
/*     text-decoration-style: double; */
}
.masonry figcaption a.transition-050 {
    text-decoration: none;
    color: black;
/*     font-weight: bold; */
}
.text {
    color: #000;
    background-color: #fff;
    font-size:1em;
}
.desc {
    display: block;
    padding: 0px;
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}
@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}
@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
.carouselOff {
    position: absolute;
    left: 0;
    z-index: 100;
    background-color: white;
    opacity: 0.8;
    padding: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 50%;
    border: 0px white solid;
}
.carouselOff:hover {
    background-color: yellow;
}
.widget {
    position: absolute;
    border: 0px solid red;
    width: 100%;
    z-index: 100;
}
.widget form {
    visibility: hidden;
}
.widget form .imageReport,
.widget .status {
    z-index: 100;
    background-color: white;
    opacity: 0.8;
    padding: 0px;
    width: calc(100% - 90px);
    height: 40px !important;
    border: 1px grey solid;
    border-radius: 0px;
    text-align: left;
    float: left;
    border-radius: 0 5px 5px 5px;
}
.widget form .imageReport {
    padding: 5px;
}
.widget .status {
    padding: 2px;
    visibility: hidden;
    display: none;
}
.widget button {
    background-color: white;
    opacity: 0.8;
    padding: 0px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 800;
    border-radius: 50%;
    border: 1px grey solid;
    font-size: 7px;
}
.widget button.report {
    visibility: hidden;
    display: none;
    position: absolute;
    right: 0;
}
.masonry figure:hover > .widget button.report {
    visibility: visible;
    display: block;
    cursor: pointer;
}
.widget button.submit:hover {
    background-color: green;
    color:white;
}
.widget button.cancel:hover {
    background-color: orange;
}
.widget button.report:hover {
    background-color: yellow;
}
.image-wrapper {
    width: 100%;
    position: relative;
    margin-top: 20px;
    border: 1px solid;
    text-align: center;
}
.image-wrapper img {
    width:100%
}
.image-wrapper > figcaption {
    padding: 20px;
    text-align: left;
}
/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    .masonry {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

/* Larger than phablet */
@media (min-width: 900px) {
     .title {
        margin-left: 0rem;
    }
    #ssForm,
    #fSearch {
        margin-right: 10rem;
    }
    .masonry {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

/* Larger than tablet */
@media (min-width: 1200px) {
    .masonry {
        -moz-column-count: 5;
        -webkit-column-count: 5;
        column-count: 5;
    }
}