/* Mobile first queries */

#results {
    text-align: center;
}

table.pager {
    width: unset;
    margin: 1rem auto;
}
tr.pager-row {
    border: unset;
}

td.pager-cell {
    font-family: sans-serif;
    font-size: 10px;
    padding: 2px 10px;
    border: unset;
}

td.pager-cell:first-child {
    text-align: right;
    font-weight: bold;
} 
 
td a {
     text-decoration: none;
}
 
td.pager-cell:hover {
     background-color: lightsteelblue;
}
 
td.pager-cell span.empty:hover {
    background-color: unset;
}

td.pager-cell span.current-page {
    font-weight: bold;
}