#quicksearch {
    text-align: left;
    margin-left: 15px;
    position: relative;
    float: left;
    /*! padding-top: 5px; */
    margin-top: -8px
}
/* 
#quicksearch img {
    width: 30px;
    height: 30px;
    border: 1px solid lightgray;
    border-radius: 2px;
}
#quicksearch img:hover {
    background: lightgray;
    border: 1px solid gray;
}
#quicksearch a, a.hover {
    padding: 0;
    border: 0;
    background: none;
} */
/* .bg-icon1_ant,
.bg-icon2_fish,
.bg-icon3_spider,
.bg-icon4_shrimp,
.bg-icon5_beetle,
.bg-icon6_more_examples {
    width: 32px; height: 32px;
    border: none;
} */

.quicksearch,
.quicksearch2 {
    border: 0px dotted;
    width: 30px; 
    height: 30px;
    background-size: 124px 124px;
    background-image: url('/img/css_sprites.png');
    cursor: pointer;
    display: inline-block;
}
a.quicksearch,
a.quicksearch2 {
    font-size: 0 !important;
}
.quicksearch:hover,
.quicksearch2:hover {
    background-color: lightgray;
}
.bg-map {
    background-position: -6px -6px;
}
.bg-more {
    background-position: -47px -6px;
}
.bg-crustacean {
    background-position: -6px -47px;
}
.bg-beetle {
    background-position: -47px -47px;
}
.bg-spider {
    background-position: -88px -6px;
}
.bg-fish {
    background-position: -89px -47px;
}
.bg-ant {
    background-position: -6px -89px;
}