.slidr {
    width: 250px;
    text-align: center;
    overflow: hidden;
    border: 1px solid black;
    margin-bottom: 10px;
}
.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    
    /* remove scrollbar from gecko (Firefox) */
    scrollbar-width: none;

    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}
div.slidr-control {
    z-index: 1000;
}
.slides::-webkit-scrollbar {
    display: none;
}
.slides::-webkit-scrollbar-thumb {
    display: none;
}
.slides::-webkit-scrollbar-track {
    display: none;
}
.slides > div {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 250px;
    min-height: 250px;
    margin-right: 50px;
    border-radius: 0px;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    display: flex;
    /*     
    justify-content: center;
    align-items: center;
    font-size: 100px; 
    */
}
a.slider-link {
    display: inline-flex;
    /* 
    width: 1.5rem;
    height: 1.5rem;
    background: white;
    border: 1px solid grey; 
    */
    text-decoration: none;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin: 2px 0 2px 0;
    position: relative;
    cursor: pointer;
}
/* a.slider-link:active {
    top: 1px;
}
a.slider-link:focus {
    background: #000;
} */

/* Don't need button navigation */
/* @supports (scroll-snap-type) {
    .slidr > a {
        display: none;
    }
} */