body {
    font-family: 'Helvetica Neue', Helvetica, Sans-serif;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 1.2em;
    margin: 0 auto;
}
    
header {
    color: #444;
    text-align: center;
}

a:visited {
    color: blue;
}

a:hover {
    background-color: rgb(189, 187, 187);
}
    
#title {
    margin-top: 1em;
    text-transform: uppercase;
}
    
#title a {
    text-decoration: none;
}
    
#aboutLink {
    text-transform: none;
    font-size: xx-small;
}

#formContainer {
    margin: 10px auto;
    width: 290px;
    border: 0px solid;
        
}
    
#q {
    width: 210px;
    height: 21px;
    float: left;
    border: 0px solid;
    padding: 5px;
}
    
#q.normal,
#q:focus {
    outline: 1px solid rgb(107, 157, 200);
    box-shadow: 0 0 5px rgba(107, 157, 200, .8) inset;
}

#q.reqd {
    outline-width: 1px;
    box-shadow: 0 0 5px rgba(247, 11, 3, 0.8) inset;
}
    
#btnImages {
    width: 40px;
    height: 30px;
    float: left;
    border: none;
    color: white;
    text-transform: uppercase;
    background-color: #6b9dc8;
}
    
#btnImages:hover {
    background-color: #e54040;
}
    
#cacheMsgCheck {
    float: left;
}
    
#qWrapper {
    border: 5px solid #ccc;
    width: 280px;
    height: 30px;
    padding: 0px;
    border-radius: 5px;
    float: left;
    clear: both;
    background-color: #6b9dc8;
}
    
#qReqdMsg, 
#cacheMsg {
    margin-top: 1em;
    text-align: left;
    font-size: 1em;
}
    
#content {
    padding: 1em;
    margin: 1em auto;
}
    
#about {
    text-align: left;
}
    
#closeAbout {
    font-size: 0.7em;
    cursor: pointer;
}
    
.on {
    visibility: visible;
    display: block;
}
    
.off {
    visibility: hidden;
    display: none;
}

.transition-050 {
    -moz-transition: 0.50s;
    -webkit-transition: 0.50s;
    -ms-transition: 0.50s;
    -o-transition: 0.50s;
    transition: 0.50s;
}

.opacity85{ 
    opacity: 0.85; 
    filter: alpha(opacity=85); 
}

#wrapper {
    width: 99%;
    margin: 0 auto;
    background-color: white;
    opacity: 0.95;
}

.grid {
    margin: 0em 0;
    padding: 0;
    font-size: .85em;
    display: flex;
    flex-wrap: wrap;
}

.item {
    width: 100%;
    padding: 0.25em;
    margin:  0 0 0;
}

figure {
    position: relative;
    overflow: hidden;
    border:1px solid #ccc;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figure img {
    width: 100%;
}

figcaption {
    position: absolute;
    bottom: 0px;
    width: 100%;
    max-height: 30px;
    padding: 5px;
    text-align: left;
    line-height: 1.5em;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

figcaption b {
    cursor: pointer;
}

.text {
    color: #000;
    background-color: #fff;
    font-size:1.2em;
}

.desc {
    display: block;
    padding: 0px;
}

/* Add animation to "page content" */
.animate-bottom {
    position: relative;
    -webkit-animation-name: animatebottom;
    -webkit-animation-duration: 1s;
    animation-name: animatebottom;
    animation-duration: 1s
}

@-webkit-keyframes animatebottom {
    from { bottom:-100px; opacity:0 } 
    to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
    from{ bottom:-100px; opacity:0 } 
    to{ bottom:0; opacity:1 }
}
    
#pager {
    margin: 0 auto;
    z-index: 1;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 6em;
}
    
#prev {
    margin-right: 1em;
}
    
#next {
    margin-left: 1em;
}
    
#prev:visited,
#next:visited {
    color: blue;
}

footer {
    bottom: 0;
    text-align: center;
    width: 100%;
}

footer.fixed {
    position: fixed;
}

footer.relative {
    position: relative;
}
    
footer img {
    width: 100%;
    max-width: 480px;
}
    
/* @group throbber */

/* https://codepen.io/jlong/pen/bdzyn */
@-webkit-keyframes throbber {
    0% { background: #dde2e7; }
    10% { background: #6b9dc8; }
    40% { background: #dde2e7; }
}
@-moz-keyframes throbber {
    0% { background: #dde2e7; }
    10% { background: #6b9dc8; }
    40% { background: #dde2e7; }
}
/*
@-o-keyframes throbber {
    0% { background: #dde2e7; }
    10% { background: #6b9dc8; }
    40% { background: #dde2e7; }
}
*/
@keyframes throbber {
    0% { background: #dde2e7; }
    10% { background: #6b9dc8; }
    40% { background: #dde2e7; }
}
    
/* Styles for old versions of IE */
#throbber {
    font-family: sans-serif;
    font-weight: 100;
}
    
/* :not(:required) hides these rules from IE9 and below */
#throbber:not(:required) {
    -webkit-animation: throbber 2000ms 300ms infinite ease-out;
    -khtml-animation: throbber 2000ms 300ms infinite ease-out;
    -moz-animation: throbber 2000ms 300ms infinite ease-out;
    -ms-animation: throbber 2000ms 300ms infinite ease-out;
    -o-animation: throbber 2000ms 300ms infinite ease-out;
    animation: throbber 2000ms 300ms infinite ease-out;
    background: #dde2e7;
    display: inline-block;
    position: relative;
    text-indent: -9999px;
    width: 0.9em;
    height: 1.5em;
    margin: 0 1.6em;
}
#throbber:not(:required):before, 
#throbber:not(:required):after {
    background: #dde2e7;
    content: '\x200B';
    display: inline-block;
    width: 0.9em;
    height: 1.5em;
    position: absolute;
    top: 0;
}
#throbber:not(:required):before {
    -webkit-animation: throbber 2000ms 150ms infinite ease-out;
    -khtml-animation: throbber 2000ms 150ms infinite ease-out;
    -moz-animation: throbber 2000ms 150ms infinite ease-out;
    -ms-animation: throbber 2000ms 150ms infinite ease-out;
    -o-animation: throbber 2000ms 150ms infinite ease-out;
    animation: throbber 2000ms 150ms infinite ease-out;
    left: -1.6em;
}
#throbber:not(:required):after {
    -webkit-animation: throbber 2000ms 450ms infinite ease-out;
    -khtml-animation: throbber 2000ms 450ms infinite ease-out;
    -moz-animation: throbber 2000ms 450ms infinite ease-out;
    -ms-animation: throbber 2000ms 450ms infinite ease-out;
    -o-animation: throbber 2000ms 450ms infinite ease-out;
    animation: throbber 2000ms 450ms infinite ease-out;
    right: -1.6em;
}

/* @end */

/* Larger than mobile */
@media (min-width: 400px) {
    .grid .item {
        width: 50%;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .grid .item {
        width: 50%;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    #about {
        width: 50%;
        margin: 0 auto;
    }

    #content {
        width: 90%;
        text-align: center;
        padding: 0em;
    }
    
    #throbber {
        border: 1px solid;
    }
    
    .grid .item {
        width: 33%;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .grid .item {
        width: 25%;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .grid .item {
        width: 20%;
    }
}