/* https://thestizmedia.com/radio-buttons-as-toggle-buttons-with-css/ */
.switch {
    display: flex;
}

.resource {
    float: left;
    margin: 7px;
}

.search {
    float: right;
    margin: 15px 50px 0 0;
    font-size: 8px;
    line-height: 20px;
    text-align: center;
}

/* hide the inputs */
.switch input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.switch label {
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  border: none;
  transition: all 0.3s ease-in-out;
}

.switch label:hover {
    cursor: pointer;
}

.switch input:checked + label {
    box-shadow: none;
}

.large label {
    width: 30px;
    height: 30px;
}

.regular label {
    width: 20px;
    height: 20px;
}

.small label {
    width: 10px;
    height: 10px;
}

.grey input:checked + label {
    background-color: grey;
}

.green input:checked + label {
    background-color: #a5dc86;
}

.slider {
    border: 1px dotted #000;
    border-radius: 10px;
    background-color: #e4e4e4;
}

.slider label {
    border-radius: 50%;
    opacity: 0;
}

.slider input:checked + label {
  border: 1px dotted green;
  background-color: #a5dc86;
  opacity: 1;
}

.pill label {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.pill label:first-of-type {
  border-radius: 50% 0 0 50%;
}

.pill label:last-of-type {
  border-radius: 0 50% 50% 0;
}