#toggle1 {
    --slot-off-color: lightgreen;
    --slot-on-color: #56c080;
    --slot-width: 58px;
}

#toggle2 {
    --slot-off-color: lightblue;
    --slot-on-color: darkblue;
    --slot-width: 48px;
}

#toggle3 {
    --slot-off-color: pink;
    --slot-on-color: red;
    --slot-width: 68px;
}

#toggle4 {
    --slot-off-color: lightgrey;
    --slot-on-color: #444;
    --slot-width: 28px;
}

/* .toggle-container {
    margin: 5rem auto;
} */

.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  transition: background 0.25s;
}
.toggle-switch {
    background-color: var(--slot-off-color);
    width: var(--slot-width);
    height: calc( 0.55 * var(--slot-width) );
    border-radius: calc( 0.5 * 0.55 * var(--slot-width) );
}
.toggle-switch:before, .toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: 4px;
  left: 4px;
  transition: left 0.25s;
}
.toggle-switch:before {
    width: calc( 0.55 * var(--slot-width) - 8px );
    height: calc( 0.55 * var(--slot-width) - 8px );
}

.toggle:hover .toggle-switch:before {
  background: linear-gradient(to bottom, #fff 0%, #fff 100%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: var(--slot-on-color);
}
.toggle-checkbox:checked + .toggle-switch:before {
    left: calc( ( var(--slot-width) + 2px ) / 2 );
}
.toggle-container {
    position: relative;
}
.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}
.toggle-label-left,
.toggle-label-off,
.toggle-label-on {
    position: relative;
    top: 0px;
    font-family: sans-serif;
    font-size: 10px;
}
.toggle-label-left {
    margin-right: 3px;
    visibility: hidden;
}
.toggle-label-off {
    visibility: hidden;
}
.toggle-label-off,
.toggle-label-on {
    position: absolute;
    left: calc( var(--slot-width) + 5px );
    top: 8px;
    
}
.toggle-checkbox:checked ~ .toggle-label-off {
    visibility: visible;
}
.toggle-checkbox:checked ~ .toggle-label-on {
    visibility: hidden;
}