/* tristate checkbox */
/* https://codepen.io/PaulZi/pen/zBbVvV?editors=1100 */
#tristate {
    all: initial;
    * { all: unset; }
}
#tristate {
    text-align: left;
    border: none;
    width: 100%;
    padding-left: 20px;
    margin: 10px 0;
}
.tristate {
    position: relative;
    display: inline-block;
    font-size: 10px;
    text-align: left;
    border: none;
    width: 200px;
    font-family: sans-serif;
}
.tristate > input[type=radio] {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.tristate > input[type=radio] + i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}
.tristate > input[type=radio] + i, 
.tristate > input[type=radio] + i:before, 
.tristate > input[type=radio] + i:after {
    transition: all 0.3s;
}
.tristate > input[type=radio]:first-child {
    z-index: 10;
}
.tristate > input[type=radio]:first-child:checked {
    z-index: 0;
}
.tristate > input[type=radio]:checked + input[type=radio] {
    z-index: 10;
}
.tristate > input[type=radio]:checked + i + label, 
.tristate > input[type=radio]:checked + i + label + label {
    display: none;
}
.tristate > input[type=radio]:checked + input[type=radio] + i + label, 
.tristate > input[type=radio]:checked + input[type=radio] + i + label + label + label {
    display: none;
}
.tristate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i + label + label, 
.tristate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i + label + label + label {
    display: none;
}
.tristate-switcher > input[type=radio] {
    width: 46px;
    height: 24px;
    left: -3px;
    top: -1px;
}
/* state 0 (second state) */
.tristate-switcher > input[type=radio] + i {
    width: 40px;
    height: 24px;
    margin-top: 0px;
    background-color: lightgrey;
    border: 1px solid;
    border-radius: 12px;
}
.tristate-switcher > input[type=radio] + i:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    display: block;
    width: 22px;
    height: 22px;
    background-color: black;
    border-radius: 50%;
/*     box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.3); */
}
/* state 1 (third state) */
.tristate-switcher > input[type=radio]:checked + i {
    background-color: lightgrey;
}
.tristate-switcher > input[type=radio]:checked + i:before {
    left: 16px;
    background-color: black;
}
.tristate-switcher > input[type=radio]:checked + input[type=radio] + i:before {
    left: 8px;
}
/* state -1 (first state) */
.tristate-switcher > input[type=radio]:checked + input[type=radio] + input[type=radio] + i {
    background-color: lightgrey;
}
.tristate-switcher > input[type=radio]:checked + input[type=radio] + input[type=radio] + i:before {
    background-color: black;
}