div#ts1 {
    --switch-dim: 15px;
    --theme: lightgreen;
    --theme-off: #f5f5f5;
    --theme-on: darkgreen;
    --num-of-switches: 3;
}
div#ts1 {
    border: 1px solid black;
    background-color: var(--theme);
    width: calc( ( var(--switch-dim) + 5px ) * var(--num-of-switches) - 22px );
    height: calc( var(--switch-dim) + 6px );
    border-radius: calc( var(--switch-dim) / 2 + 3px );
    padding: 2px;
    position: relative;
    margin: 7px 3px 6px 7px;
    float: left;
}
div#ts1 label {
    position: absolute;
    top: 0px;
    left: calc( ( var(--switch-dim) + 5px ) * var(--num-of-switches) - 15px );
    visibility: hidden;
    display: none;
}
div#ts1 input[type=radio],
div#ts1 input[type=radio]:checked {
    width: var(--switch-dim);
    height: var(--switch-dim);
    border-radius: 50%;
}
div#ts1 input[type=radio] {
    opacity: 0;
    border: 1px solid var(--theme);
    background-color: var(--theme-off);
    appearance: none;
    cursor: pointer;
    margin: 0 0 0 -10px;
    transition: all 0.3s;
}
div#ts1 input[type=radio]:first-of-type {
    margin: 0px;
}
div#ts1 input[type=radio]:checked {
    opacity: 1;
    border: 1px solid var(--theme-on);
    background-color: var(--theme-on);
}
div#ts1 input[type=radio]:checked + label {
    width: auto;
    visibility: hidden;
}