/*
css Fancysearch
created by P Kishor
GitHub: https://github.com/punkish/fancysearch
License: Released into the public domain under CC0
*/
#fs-container {
    position: relative;
    width: 100%;
    height: auto;
}

/* .fs-help {
    position: relative;
    top: 0;
    text-transform: uppercase;
    font-size: xx-small;
    color: blue;
    font-weight: 400;
    padding-left: 5px;
} */

.fs-widget {
    position: relative;
    top: 0;
    min-height: 40px;
}

.fs {
    width: calc( 100% - 57px );
    height: auto;
    min-height: 38px;
    /* padding-left: 5px; */
    float: left;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px 0 0 5px;
    background-color: white;
}

.fs-button-primary {
    border-radius: 0 5px 5px 0;
    background-color: grey !important;
    border: 1px solid grey !important;
    color: white !important;
    padding-left: 15px;
    padding-right: 15px;
    height: 40px;
    width: 50px;
    position: relative;
}
.fs-button-primary:hover {
    background-color: green !important;
}
.fs-refreshCache {
    margin-right: 15px;
    margin-top: 13px;
    margin-bottom: 0;
    float: right;
}
.fs-param-empty {
    float: left;
    display: flex;
    margin: 2px;
    font-family: sans-serif;
    width: calc( 100% - 110px );
}
.fs-param-empty > .fs-key {
    border-radius: 5px 0 0 5px;
}
.fs-param-filled {
    border: 1px solid grey;
    border-radius: 5px;
    float: left;
    margin: 2px;
    font-family: sans-serif;
    height: 32px;
    width: auto;
    max-width: calc( 100% - 40px );
}
.fs-key, 
.fs-val {
    float: left;
    padding: 0 5px;
    height: 32px;
}
.fs-key {
    background-color: grey;
    color: white;
    text-transform: uppercase;
    font-size: 80%;
    line-height: 34px
}
.fs-val {
    max-width: 140px;
    overflow-y: hidden;
    line-height: 120%;
    font-size: 80%;
    padding-top: 8px;
}
.fs-cancel {
    float: left;
    padding: 0 10px;
    height: 30px;
    width: 8px;
    line-height: 32px;
    background-color: #f5f5f5;
    color: #ccc;
    margin-right: 0px;
    border-radius: 0 5px 5px 0;
    border: 1px solid #f5f5f5;
    border-left: 1px solid #ccc;
}
.fs-cancel:hover {
    background-color: red;
    color: white;
}
.fs-key-input,
.fs-val-input {
    width: 100%;
    box-sizing: border-box;
    border: 0px solid red;
    font-size: unset;
    height: 32px;
    margin: 0;
}
input.fs-key-input:focus,
input.fs-val-input:focus {
    outline: none;
}
.fs-off {
    display: none;
    visibility: hidden;
}
.fs-on {
    visibility: visible;
}
.fs-hilite {
    border: 1px solid red;
}

/* Larger than mobile */
@media (min-width: 400px) {

}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

}

/* Larger than tablet */
@media (min-width: 750px) {
    .fs-param-empty {
        width: calc( 100% - 40px );
    }
    .fs-param-filled {
        max-width: calc( 100% - 40px );
    }
    .fs-key {
        background-color: grey;
        color: white;
        text-transform: uppercase;
        font-size: 80%;
        line-height: 34px
    }
    .fs-val {
        max-width: calc( 100% - 40px );
        overflow-y: hidden;
        line-height: 18px;
        font-size: 80%;
        padding-top: 8px;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {

}

/* Larger than Desktop HD */
@media (min-width: 1200px) {

}