/*****************************************/
/* blr: form simple search               */
/*****************************************/


nav {
  font-size: small;
  font-family: sans-serif;
  margin-left: calc(var(--community-selector-width) + 5px);
}
nav label {
  margin-right: 10px;
}
nav label.searchFocus {
  text-decoration: none;
  color: white;
  background-color: grey;
  padding: 2px 5px;
  border-radius: 2px;
}
nav input[type="radio"] {
  display: none;
}
#searchWidget {
position: relative;
overflow: hidden;
border: 0px solid red;
min-height: 125px;
}
#searchContainers {
border: 0px solid green;
float: left;
width: calc(100% - var(--community-selector-width));
 
}

/* simple search field */
input[name=q] {
width: calc(100% - 45px);
padding-left: 10px;
/* font-style: italic;
font-family: serif; */
}

#toggleSearch {
  clear: both;
  font-family: sans-serif;
  font-size: small;
  left: 5px;
  position: relative;
}

input[name=refreshCache] {
position: absolute;
top: 24px;
right: calc(var(--button-width) + 20px);
z-index: 100;
}

.refreshCacheWarning {
  text-align: center;
  color:red;
}