html {
    --widget-height: 37px;
    --button-width: 40px;
    --help-height: 15px;
}

#fs-container {
    position: relative;
    width: 100%;
    height: auto;
}

.fs-help {
    position: relative;
    top: 0;
    left: 5px;
    /* text-transform: uppercase; */
    font-style: italic;
    font-size: xx-small;
    color: rgba(1, 46, 7, 0.626);
    font-weight: 400;
    text-align: left;
    height: var(--help-height);
}

.fs-widget {
    position: relative;
    top: 0;
}

.ss,
.fs {
    width: calc( 100% - (var(--button-width) + 5px) );
    height: auto;
    min-height: var(--widget-height);
    border: 1px solid grey;
    font-size: 1em;
    font-family: sans-serif;
    padding: 0px;
    float: left;
    position: relative;
    background-color: white;
}

.fs {
    -webkit-box-shadow: inset 0 0 3px #00f;
    -moz-box-shadow: inset 0 0 3px #00f;
    box-shadow: inset 0 0 3px #00f;
}

.fs-button-primary {
    /* border-radius: 0 5px 5px 0; */
    background-color: grey !important;
    border: 1px solid grey !important;
    color: white !important;
    font-family: sans-serif;
/*     padding-left: 15px;
    padding-right: 30px; */
/*     margin-left: 0;
    margin-right: 0px; */
    float: left;
    position: relative;
    right: 0;
    height: var(--widget-height);
    width: var(--button-width);
    text-transform: uppercase;
}

.fs-param-empty {
    float: left;
    position: relative;
    border: 0px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px 1px 1px 3px;
    margin: 1px;
}
.fs-param-filled {
    float: left;
    position: relative;
    border: 1px solid grey;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 4px;
    background-color: lightgrey;
}
.fs-key,
.fs-val {
    float: left;
    padding-left: 5px;
    padding-right: 5px;
    border: 0px solid red;
}
.fs-key {
    color: lightgrey;
    background-color: grey;
    height: 100%;
    width: auto;
    float: left;
}
.fs-val {
    color: black;
    margin-bottom: 0px;
    background-color: lightgrey;
    height: 100%;
    width: auto;
    float: right;
}
.fs-key-input,
.fs-val-input {
    width: 100%;
    height: 30px;
    box-sizing: border-box;
    border: 0px solid lightgrey;
    margin: 0;
    margin-top: -4px;
}
input.fs-key-input:focus,
input.fs-val-input:focus {
    outline: none;
}
.fs-cancel {
    float: left;
    width: 20px;
    height: 18px;
    padding-top: 0px;
    cursor: pointer;
    text-align: center;
    border-left: 1px solid grey;
    font-size: 0.8em;
    font-family: sans-serif;
    font-weight: 800;
    line-height: 18px;
}
.fs-cancel:hover {
    background: red;
}
.fs-off {
    display: none;
    visibility: hidden;
}
.fs-on {
    visibility: visible;
}
.fs-hilite {
    border: 1px solid red;
}

/* Larger than mobile */
@media only screen 
  and (min-width: 320px) 
  and (max-width: 540px) {
    code {
        max-width: 500px !important;
    }
}

/* Larger than phablet */
@media only screen 
  and (min-width: 550px) 
  and (max-width: 740px) {
    p, li {
        font-size: 100%;
    }
    code {
        max-width: 700px !important;
    }
}

/* Larger than tablet */
@media only screen 
  and (min-width: 750px) 
  and (max-width: 990px) {
    code {
        max-width: 960px !important;
    }
}

/* Larger than desktop */
@media only screen 
  and (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {}