/*****************************************/
/* blr: article                          */
/*****************************************/

article {
    flex: 1 1 0%;
    width: 100%;
    max-width: 960px;
    display: flex;
    justify-content: center;
}
article section p {
    text-align: left;
}
article .searchCriteria {
    margin-bottom: 2rem;
}

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    article section {
        padding: 3rem;
    }
}