/* charts */
canvas {
    border: 1px solid #f5f5f5;
    padding: 1rem;
    z-index: 1;
    background-color: #f5f5f5;
}

/* tabby */
[role="tablist"] {
    border: none;
    height: 35px;
}
[role="tab"],
[role="tab"][aria-selected="true"] {
    margin-left: 5px;
    float: left;
    width: auto;
    max-width: 70px;
    height: 35px;
    padding: 2px;
    overflow: auto;
    border-bottom: none;
    border-radius: 2px 2px 0 0;
    color: black;
    background-color: var(--border-color-tab);
    text-transform: capitalize;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4rem;   
}
[role="tab"] {
    border: 1px solid var(--border-color-tab);
}
[role="tab"][aria-selected="true"] {
    border: 1px solid var(--border-color-tab-selected);
    background-color: var(--border-color-tab-selected);
    z-index: 10;
}