/*****************************************/
/* blr: form simple search               */
/*****************************************/

nav {
    font-size: 1rem;
    margin-left: calc(var(--community-selector-width) + 5px);
}
nav label {
    float: left;
    margin-right: 10px;
}
nav label.searchFocus {
    text-decoration: none;
    color: white;
    background-color: grey;
    padding: 2px 5px;
    border-radius: 2px;
}
nav input[type="radio"] {
    display: none;
}

/*
hide the searchChooser widget on screens 
smaller than 375px width
*/
.searchWidget {
/*     width: 100%; */
/*     position: relative; */
/*     border: none; */
    clear: both;
/*     margin: auto; */
}
html {
    --community-selector-width: 42px;
    --refreshCache-width: 30px;
    --searchwidget-height: 36px;
}
div.searchInputs {
    float: left;
    width: calc(100% - var(--community-selector-width));
    height: 38px;
/*     line-height: 35px; */
    border: 1px solid;
    border-radius: 0 2px 2px 0;
    background-color: white;
}
form {
    margin-bottom: 0;
}
form input[name=q] {
    width: calc(100% - var(--button-width) - var(--refreshCache-width));
    font-size: 11px;
    height: var(--searchwidget-height);
    border: none;
}
form input[name=q]::placeholder {
    color: darkgreen;
    font-weight: bold;
}
form input[name=q]:focus {
    outline: none;
    border: none;
}
form input[name=go] {
    float: right;
    width: var(--button-width);
    height: var(--searchwidget-height);
    padding: 0;
    border: none;
    background-color: #444;
    color: #fff;
    border-radius: 0 2px 2px 0;
}
form input[name=go]:hover {
    background-color: green !important;
}
.refreshCacheWarning {
    /* border: 1px solid red; */
    margin-top: 45px;
    font-size: 12px;
    color: red;
    line-height: 1.1em;
/*     margin-left: 45px; */
/*! display: block; */
    visibility: hidden;
}
.refreshCacheWarning.show {
    visibility: visible;
}