/*****************************************/
/* blr taxon tree                        */
/*****************************************/

ul.classification {
    list-style: none;
}
.kingdom,
.phylum,
.order,
.family,
.genus,
.species {
    border-top-width: 20px;
    border-top-style: solid;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 0px solid grey;
    height: 0px;
    line-height: 0;
    margin-top: 0px;
    margin-bottom: 2px;
}
.kingdom {
    border-top-color: #e8e8e8;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    width: 120px;
}
.phylum {
    border-top-color: #d8d8d8;
    width: 100px;
    margin-left: 10px
}
.order {
    border-top-color: #b8b8b8;
    width: 80px;
    margin-left: 20px
}
.family {
    border-top: 20px solid #989898;
    width: 60px;
    margin-left: 30px
}
.genus {
    border-top-color: #787878;
    width: 40px;
    margin-left: 40px
}
.species {
    border-top-color: #585858;
    width: 0px;
    margin-left: 50px
}
.kingdom > .txn,
.phylum > .txn,
.order > .txn,
.family > .txn,
.genus > .txn,
.species > .txn {
    margin-top: -10px;
    width: 100px;
    font-size: 1rem;
}
.kingdom > .txn {
    margin-left: 110px;
}
.phylum > .txn {
    margin-left: 90px;
}
.order > .txn {
    margin-left: 70px;
}
.family > .txn {
    margin-left: 50px;
}
.genus > .txn {
    margin-left: 30px;
}
.species > .txn {
    margin-left: 10px;
}
/* table.taxon-tree {
    padding: 0;
    margin: 0;
} */
table.taxon-tree td {
    padding: 0;
    border: none;
}
table.taxon-tree td.taxon-branch {
    width: 125px;
}
/* end classification */