/*****************************************/
/* blr: treatment                        */
/*****************************************/

.treatmentInfo table {
    width: 100%;
}
.treatmentInfo table th {
    text-align: right;
    width: 20%;
}
.treatmentInfo table td {
    overflow-x: auto;
    width: 80%;
}
.treatmentInfo table th,
.treatmentInfo table td {
    font-size: 10px;
}
.treatment ul.citations {
    text-align: left;
    list-style-position: outside;
    padding: 2rem;
}
.treatment ul.citations li {
    margin-bottom: 1.5rem;
}
.treatment figcaption {
    text-align: left;
}

#treatment h3.records-found {
    font-size: 2.5rem;
}
#treatment details figure, 
#treatment details p {
    /* font-family: serif; */
    font-size: 2rem;
    margin-top: 1rem;
    padding: 1rem;
    text-align: left;
}
#treatment details summary {
    outline: 1px solid darkslateblue;
    padding: 5px;
    margin-bottom: 5px;
    text-align: left;
    background-color: lightsteelblue;
    font-size: 2rem;
    cursor: pointer;
}
#treatment details > div {
    margin-top: -8px;
    outline: 1px solid lightgrey;
}

.xml-marker {
    border: 1px solid grey;
    border-radius: 5px;
    color: #444;
    font-size: 1rem;
    padding: 2px;
    cursor: pointer;
}
.xml-marker:hover {
    background-color: green;
    color: white;
}
#map { 
    width: 100%;
    height: 300px; 
    margin-top: 15px;
    margin-bottom: 7px;
}