[role="tab"][aria-selected="true"] {
    border: none;
    color: black;
    text-transform: capitalize;
    font-weight: bold;
    font-size: larger;
}

/* Larger than mobile (default point when grid becomes active) */
@media (min-width: 600px) {
    [role="tablist"] {
        height: 60px;
    }
    [role="tab"],
    [role="tab"][aria-selected="true"] {
        max-width: 170px;
        height: 60px;
        padding: 7px;
        border-radius: 5px 5px 0 0;
        font-size: 15px;
        line-height: 2rem;   
    }
}
    
/* Larger than phablet */
@media (min-width: 900px) {
    [role="tab"],
    [role="tab"][aria-selected="true"] {
        padding: 12px;
    }
}