[submodule "libs/leaflet-sliding-panel"]
	path = libs/leaflet-sliding-panel
	url = git@github.com:punkish/leaflet-sliding-panel.git
[submodule "libs/leaflet-slidebar"]
	path = libs/leaflet-slidebar
	url = git@github.com:punkish/leaflet-slidebar.git
