:root {

    /* settings for grid */
    --column-count: 1;
    --column-gap: 20px;
    --image-250: 250px;
}
html,
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /* padding-bottom: 0; */
    max-width: unset;
    /* height: 100%; */
    margin: 0;
    padding: 0px;
}
a,
a:visited {
    color:blue !important;
}
a:hover {
    background-color: lightgrey;
    padding: 2px 5px;
    border: 1px solid lightgray;
    border-radius: 2px;
}
/* #container {
    display: flex;
    flex-flow: column;
    height: 100%;
} */
main {
    flex: 1 1 auto;
    position: relative;
    flex-flow: column;
    height: 100%;
}
div.title a,
.close {
    font-family: sans-serif;
    font-size: 12px;
}
.modal {
    width: 90%;
    max-width: 370px;
    max-height: 75%;
    overflow: auto;
    text-align: left;
    margin: 0 auto;
    z-index: 10000;
    position: fixed;
    top: 80px;
    left: 5%;
    background-color: white;
    padding: 1rem;
    border-radius: 5px;

    /* https://www.w3schools.com/csS/css3_shadows_box.asp */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* .show {
    display: inline-block;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.hide {
    display: none;
    visibility: hidden;
} */
.block {
    display: block;
}
.noblock {
    display: none;
}
.hidden {
    visibility: hidden;
}
.visible {
    display: block;
    visibility: visible;
}

footer  {
    margin: 100px auto 0 auto;
    display: none;
}

footer img {
    max-width: 280px;
}
table.help {
    font-family: sans-serif;
    font-size: 10px;
}
table.help td, 
table.help th {
    border: 1px solid grey;
}