/* position form in the center of div */
/* https://stackoverflow.com/a/31386275 */
form {
    position: relative;
}

/* Clearable text inputs */
.wrapper {
    width: 100%;
}

.input-wrapper { 
    border-radius: 5px 0 0 5px;
    border: 1px solid silver;
    float: left;
    position: relative;
    width: calc(100% - 50px);
    height: 43px;
}

#clear-q {
    font-size: 32px;
    font-family: sans-serif;
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    line-height: 18px;
    padding-top: 6px;
    width: 37px;
    text-align: center;
    cursor: pointer;
    border: 1px solid lightgray;
}

#clear-q:hover {
    background-color: red;
    color: white;
}

#refreshCacheWrapper {
    position: absolute;
    right: 41px;
    top: 2px;
    bottom: 2px;
    line-height: 31px;
    width: 37px;
    text-align: center;
    cursor: pointer;
    border: 1px solid lightgray;
}

#refreshCacheWrapper:hover {
    background-color: lightsalmon;
}

#refreshCache {
    position: absolute;
    right: 2px;
    top: -4px;
    bottom: 3px;
    left: -4px;
    width: 37px;
    height: 37px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

#refreshCache.unchecked {
    background-color: none;
}

#refreshCache.checked {
    background-color: red;
}

#q { 
    border: none;
    border-radius: 5px 0 0 5px;
    width: calc(100% - 80px);
    height: 40px;
    position: absolute;
    left: 0;
    text-indent: 10px;
}

#q, 
#go {
    font-family: sans-serif;
    padding: 8px;
    font-size: 12px;
}

#go {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid silver;
    border-radius: 0 5px 5px 0;
    width: 45px;
    height: 43px;
}

#go:hover {
    background-color: green;
    color: white;
}

@keyframes glowing {
    0% {
        background-color: #2ba805;
    }
    50% {
        background-color: #49e819;
    }
    100% {
        background-color: #2ba805;
    }
}
.glowing {
    animation: glowing 1300ms infinite;
}
/* end Clearable */

#refreshCacheMsg {
    margin-top: 5px;
    color: red;
    font-family: sans-serif;
    font-size: 10px;
    display:block;
}

.red-placeholder {
    color: red;
}

/* https://stackoverflow.com/a/30117998/183692 */
/* Chrome, Firefox, Opera, Safari 10.1+ */
.red-placeholder::placeholder { 
    color: red;

    /* Firefox */
    opacity: 1; 
}

/* Internet Explorer 10-11 */
.red-placeholder:-ms-input-placeholder {
    color: red;
}

/* Microsoft Edge */
.red-placeholder::-ms-input-placeholder {
    color: red;
}
/* fieldset {
text-align: left;
border: none;
padding: 0px;
margin-left: 1rem;
}
.tab {
float: left;
margin-right: 5px;
}
.tab [type="radio"] {
opacity: 0;
}
.tab label {
background: #eee;
padding: 5px;
border: 1px solid #ccc;
border-radius: 3px 3px 0 0;
margin-left: -20px;
position: relative;
left: 0px;
}
label {
font-size: small;
font-family: sans-serif;
padding: 5px;
}
[type="radio"]:checked ~ label {
background: white;
border-bottom: 1px solid white;
z-index: 2;
} */

.view-wrapper {
    text-align: left;
    font-family: sans-serif;
    font-size: small;
    padding: 10px;
}

/* tristate checkbox */
/* https://codepen.io/PaulZi/pen/zBbVvV?editors=1100 */
.tristate {
    position: relative;
    display: inline-block;
}
.tristate > input[type=radio] {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    opacity: 0;
}
.tristate > input[type=radio] + i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    margin-right: 5px;
}
.tristate > input[type=radio] + i, .tristate > input[type=radio] + i:before, .tristate > input[type=radio] + i:after {
    transition: all 0.3s;
}
.tristate > input[type=radio]:first-child {
    z-index: 10;
}
.tristate > input[type=radio]:first-child:checked {
    z-index: 0;
}
.tristate > input[type=radio]:checked + input[type=radio] {
    z-index: 10;
}
.tristate > input[type=radio]:checked + i + label, .tristate > input[type=radio]:checked + i + label + label {
    display: none;
}
.tristate > input[type=radio]:checked + input[type=radio] + i + label, .tristate > input[type=radio]:checked + input[type=radio] + i + label + label + label {
    display: none;
}
.tristate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i + label + label, .tristate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i + label + label + label {
    display: none;
}
.tristate-switcher > input[type=radio] {
    width: 46px;
    height: 24px;
    left: -3px;
    top: -1px;
}
/* state 0 (second state) */
.tristate-switcher > input[type=radio] + i {
    width: 40px;
    height: 24px;
    margin-top: 0px;
    background-color: lightgrey;
    border-radius: 12px;
}
.tristate-switcher > input[type=radio] + i:before {
    content: " ";
    position: absolute;
    top: 0px;
    left: -3px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: black;
    border-radius: 50%;
/*     box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.3); */
}
/* state 1 (third state) */
.tristate-switcher > input[type=radio]:checked + i {
    background-color: lightgrey;
}
.tristate-switcher > input[type=radio]:checked + i:before {
    left: 19px;
    background-color: black;
}
.tristate-switcher > input[type=radio]:checked + input[type=radio] + i:before {
    left: 8px;
}
/* state -1 (first state) */
.tristate-switcher > input[type=radio]:checked + input[type=radio] + input[type=radio] + i {
    background-color: lightgrey;
}
.tristate-switcher > input[type=radio]:checked + input[type=radio] + input[type=radio] + i:before {
    background-color: black;
}
#help { 
    color: blue;
    text-decoration: underline;
    padding-left: 12px;
    cursor: help;
}
.examples {
    position: absolute;
    background-color: white;
    border: 1px solid lightgrey;
    width: 100%;
    padding: 10px;
    z-index: 999;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.3);
}
#help,
.examples {
    font-family: sans-serif;
    font-size: small;
    text-align: left;
}
p.example-desc {
    margin-top: 0px;
    margin-left: 12px;
    font-style: italic;
    font-family: serif;
}
summary {
    cursor: pointer;
}
button.example-insert {
    border: none;
    background-color: white;
    color: blue;
    text-decoration: underline;
}
button.example-insert:hover {
    background-color: lightgrey;
}
