/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
    :root {
        --column-count: 2 !important;
    }

    header {
        padding: 10px 10px 10px 10px;
    }

    header div.title {
        display: block;
    }

    figure.figure-250 { width: 250px; }
    .range {
        display: inline-block;
    }

    .pager div {
        padding: 5px 7px;
    }
}

/* Larger than tablet */
@media (min-width: 800px) {
    :root {
        --column-count: 3 !important;
    }

    form {
        width: 400px;
        display: inline-block
    }

    .modal {
        max-width: 70%;
        left: 15%;
        top: 120px;
    }
}

/* Larger than desktop */
@media (min-width: 1100px) {
    :root {
        --column-count: 4 !important;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1400px) {
    :root {
        --column-count: 5 !important;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1920px) {
    :root {
        --column-count: 7 !important;
    }
}

/* Larger than Desktop HD */
@media (min-width: 2300px) {
    :root {
        --column-count: 8 !important;
    }
}

/* Larger than Desktop HD */
@media (min-width: 2500px) {
    :root {
        --column-count: 9 !important;
    }
}

@media (min-width: 3000px) {
    :root {
        --column-count: 11 !important;
    }
}