/* Mobile first queries */

/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet */
@media (min-width: 550px) {
    :root {
        --column-count: 2 !important;
    }

    .range {
        display: inline-block;
    }

    .pager div {
        padding: 5px 7px;
        /* border: 1px solid;
        border-right: none; */
    }
    
    /* 
    .pager div:last-of-type {
        border: 1px solid;
    }
     */
}

/* Larger than tablet */
@media (min-width: 800px) {
    :root {
        --column-count: 3 !important;
    }

    form {
        width: 400px;
        display: inline-block
    }

    .modal {
        max-width: 70%;
        left: 15%;
        top: 120px;
    }
}

/* Larger than desktop */
@media (min-width: 1100px) {
    :root {
        --column-count: 4 !important;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1400px) {
    :root {
        --column-count: 5 !important;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1920px) {
    :root {
        --column-count: 7 !important;
    }

/*     .modal {
        width: 30%;
    } */
}

/* Larger than Desktop HD */
@media (min-width: 2300px) {
    :root {
        --column-count: 9 !important;
    }

/*     .modal {
        width: 25%;
    } */
}

/* Larger than Desktop HD */
@media (min-width: 2500px) {}