/* position form in the center of div */
/* https://stackoverflow.com/a/31386275 */
form {
    position: relative;
}

/* Clearable text inputs */
.wrapper {
    width: 100%;
}

.input-wrapper { 
    border-radius: 5px 0 0 5px;
    border: 1px solid silver;
    float: left;
    position: relative;
    width: calc(100% - 50px);
    height: 43px;
}

#clear-q {
    font-size: 32px;
    font-family: sans-serif;
    position: absolute;
    right: 2px;
    top: 2px;
    bottom: 2px;
    line-height: 18px;
    padding-top: 6px;
    width: 37px;
    text-align: center;
    cursor: pointer;
    border: 1px solid lightgray;
}

#clear-q:hover {
    background-color: red;
    color: white;
}

#refreshCacheWrapper {
    position: absolute;
    right: 41px;
    top: 2px;
    bottom: 2px;
    line-height: 31px;
    width: 37px;
    text-align: center;
    cursor: pointer;
    border: 1px solid lightgray;
}

#refreshCacheWrapper:hover {
    background-color: lightsalmon;
}

input[type=checkbox] {
    position: absolute;
    right: 2px;
    top: -4px;
    bottom: 3px;
    left: -4px;
    width: 37px;
    height: 37px;
    cursor: pointer;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -ms-transition: all 0.15s;
    -o-transition: all 0.15s;
    transition: all 0.15s;
}

#refreshCache.unchecked {
    background-color: none;
}

#refreshCache.checked {
    background-color: red;
}

#q { 
    border: none;
    border-radius: 5px 0 0 5px;
    width: calc(100% - 80px);
    height: 40px;
    position: absolute;
    left: 0;
    text-indent: 10px;
}

#q, 
#go {
    font-family: sans-serif;
    padding: 8px;
    font-size: 12px;
}

#go {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid silver;
    border-radius: 0 5px 5px 0;
    width: 45px;
    height: 43px;
}

#go:hover {
    background-color: green;
    color: white;
}
/* end Clearable */

#refreshCacheMsg {
    margin-top: 5px;
    color: red;
    font-family: sans-serif;
    font-size: 10px;
    display:block;
}

.red-placeholder {
    color: red;
}

/* https://stackoverflow.com/a/30117998/183692 */
/* Chrome, Firefox, Opera, Safari 10.1+ */
.red-placeholder::placeholder { 
    color: red;

    /* Firefox */
    opacity: 1; 
}

/* Internet Explorer 10-11 */
.red-placeholder:-ms-input-placeholder {
    color: red;
}

/* Microsoft Edge */
.red-placeholder::-ms-input-placeholder {
    color: red;
}
/* fieldset {
    text-align: left;
    border: none;
    padding: 0px;
    margin-left: 1rem;
}
.tab {
    float: left;
    margin-right: 5px;
}
.tab [type="radio"] {
    opacity: 0;
}
.tab label {
    background: #eee;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px 3px 0 0;
    margin-left: -20px;
    position: relative;
    left: 0px;
}
label {
    font-size: small;
    font-family: sans-serif;
    padding: 5px;
}
[type="radio"]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
} */

/* tristate checkbox */
/* https://codepen.io/PaulZi/pen/zBbVvV?editors=1100 */
.tristate {
    position: relative;
    display: inline-block;
  }
  .tristate > input[type=radio] {
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    margin: 0;
    padding: 0;
    opacity: 0;
  }
  .tristate > input[type=radio] + i {
    position: relative;
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: top;
  }
  .tristate > input[type=radio] + i, .tristate > input[type=radio] + i:before, .tristate > input[type=radio] + i:after {
    transition: all 0.3s;
  }
  .tristate > input[type=radio]:first-child {
    z-index: 10;
  }
  .tristate > input[type=radio]:first-child:checked {
    z-index: 0;
  }
  .tristate > input[type=radio]:checked + input[type=radio] {
    z-index: 10;
  }
  .tristate > input[type=radio]:checked + i + label, .tristate > input[type=radio]:checked + i + label + label {
    display: none;
  }
  .tristate > input[type=radio]:checked + input[type=radio] + i + label, .tristate > input[type=radio]:checked + input[type=radio] + i + label + label + label {
    display: none;
  }
  .tristate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i + label + label, .tristate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i + label + label + label {
    display: none;
  }
  .tristate-checkbox > input[type=radio] + i {
    border: solid 2px #bdbdbd;
    border-radius: 3px;
  }
  .tristate-checkbox > input[type=radio] + i:before {
    content: " ";
    display: block;
    position: absolute;
    left: -2px;
    top: -2px;
    right: -2px;
    bottom: -2px;
    background-color: #8b8b8b;
    border-radius: 3px;
  }
  .tristate-checkbox > input[type=radio] + i:after {
    content: " ";
    display: block;
    position: absolute;
    left: 4px;
    top: 7px;
    color: white;
    border-bottom: solid 3px;
    opacity: 0;
  }
  .tristate-checkbox > input[type=radio]:checked + i {
    background-color: #009688;
  }
  .tristate-checkbox > input[type=radio]:checked + i:before {
    background-color: #009688;
  }
  .tristate-checkbox > input[type=radio]:checked + i:after {
    left: 1px;
    top: 3px;
    width: 14px;
    height: 5px;
    border-left: solid 3px;
    border-bottom: solid 3px;
    transform: rotate(-45deg);
    opacity: 1;
  }
  .tristate-checkbox > input[type=radio]:checked + input[type=radio] + i:after {
    width: 10px;
    height: 0px;
    border-left: none;
    border-bottom: solid 3px;
    transform: rotate(0);
    opacity: 1;
  }
  .tristate-checkbox > input[type=radio]:checked + input[type=radio] + input[type=radio] + i:before {
    opacity: 0;
    transform: scale(0);
  }
  .tristate-switcher > input[type=radio] {
    width: 46px;
    height: 24px;
    left: -3px;
    top: -1px;
  }
  .tristate-switcher > input[type=radio] + i {
    width: 40px;
    height: 16px;
    margin-top: 2px;
    background-color: #bdbdbd;
    border-radius: 8px;
  }
  .tristate-switcher > input[type=radio] + i:before {
    content: " ";
    position: absolute;
    top: -3px;
    left: -3px;
    display: block;
    width: 24px;
    height: 24px;
    background-color: #fafafa;
    border-radius: 50%;
    box-shadow: 0 1px 8px 1px rgba(0, 0, 0, 0.3);
  }
  .tristate-switcher > input[type=radio]:checked + i {
    background-color: #a5d7a7;
  }
  .tristate-switcher > input[type=radio]:checked + i:before {
    left: 19px;
    background-color: #4caf50;
  }
  .tristate-switcher > input[type=radio]:checked + input[type=radio] + i:before {
    left: 8px;
  }
  .tristate-switcher > input[type=radio]:checked + input[type=radio] + input[type=radio] + i {
    background-color: #f9a19a;
  }
  .tristate-switcher > input[type=radio]:checked + input[type=radio] + input[type=radio] + i:before {
    background-color: #f44336;
  }
  .tristate-rotate label {
    display: inline-block;
    padding-top: 3px;
    padding-left: 3px;
  }
  .tristate-rotate > input[type=radio] {
    width: 30px;
    height: 30px;
  }
  .tristate-rotate > input[type=radio] + i {
    width: 24px;
    height: 24px;
    margin: 5px;
    background-color: #ccc;
    border-radius: 50%;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3), inset 1px 1px 2px rgba(255, 255, 255, 0.4), inset -1px -1px 2px rgba(0, 0, 0, 0.4);
  }
  .tristate-rotate > input[type=radio] + i:before {
    content: " ";
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 3px;
    height: 3px;
    margin-left: -1px;
    margin-top: -1px;
    border-radius: 50%;
    box-shadow: -16px 0 0 #8b8b8b, 0 -16px 0 #8b8b8b, 16px 0 0 #8b8b8b;
  }
  .tristate-rotate > input[type=radio] + i:after {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    width: 10px;
    margin-top: -1px;
    border-bottom: solid 2px #666;
    transform-origin: 12px 50%;
  }
  .tristate-rotate > input[type=radio]:checked + i:after {
    transform: rotate(180deg);
  }
  .tristate-rotate > input[type=radio]:checked + input[type=radio] + i:after {
    transform: rotate(90deg);
  }
  .tristate-rotate > input[type=radio]:checked + input[type=radio] + input[type=radio] + i:after {
    transform: rotate(0deg);
  }