/* base */
html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    --button-width: 40px;

    /* tabby */
    --border-color-tab: silver;
    --border-color-tab-selected: #f5f5f5;
}
*, *:before, *:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
}
a {
  color: blue;
  cursor: pointer;
}
.hidden {
    display: none;
}
.visible {
    display: block;
}
/* search results */
.crit-key {
    font-weight: bold;
}
.crit-val {
    font-style: italic;
    font-family: serif;
}