/* my mods */
body {
    max-width:1200px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 0;
}
a,a:visited{color:blue;}
header {
    text-align: center;
}
header h1 {
    margin: 0.67em 0;
    line-height: 0;
    letter-spacing: -.1rem;
    font-weight: 300;
}
header h1 sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
    top: -0.5em;
}
header a.title {
    text-decoration: none;
    color: black;
}
header h2.small {
    text-transform: uppercase;
    font-weight: 400;
    font-size: xx-small;
	letter-spacing: 0;
    margin-top: 0;
    margin-bottom: 2rem;
}
header a.sub-title {
    font-family: sans-serif;
    margin-left: -10px;
}
sup { vertical-align: top; position: relative; top: -0.5em; }
/* the main setting keeps the footer glued to the bottom of the screen */
main {
    flex: 1;
    /* position: relative;
    height: 100%; */
}
main section h1 {
    text-align: center;
}
main section {
    text-align: left;
}
footer  {
    margin: 0 auto;
}
footer img {
    max-width: 280px;
}
.hidden-none {
    visibility: hidden;
    display: none;
}
.hidden-block {
    visibility: hidden;
    display: block;
}
.visible-inline {
    visibility: visible;
    display: block;
}
.visible-none {
    visibility: visible;
    display: block;
}
.modal-close {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
/* search results */
.crit-key {
    font-weight: bold;
}
.crit-val {
    font-style: italic;
    font-family: serif;
}
.warning {
    color: red;
}
.nudge {
    color: green;
}