html {
    --input-button-dim: 30px;
    --input-padding: 2px;
    --input-border: 1px solid #444;
    --input-font: 14px/1.2 sans-serif;
}

form {
    margin: 40px auto;
    text-align: left;
    max-width: 66ch;
}
fieldset {
    padding: var(--input-padding);
    border: var(--input-border);
}
input {
    display: inline-block;
    padding: var(--input-padding);
    border: var(--input-border);
    width: var(--input-button-dim);
    height: var(--input-button-dim);
    font: var(--input-font);
    vertical-align: middle;
}
input[type="text"],
input[type="reset"],
input[type="button"] {
    -webkit-appearance: none;
}
/* now, styles or specific fields */
input[name="q"] {
    border: none;

    /* the extra 3px below accounts for the width of the vertical borders of the buttons */
    width: calc(
        100% - 
        calc(
            calc(4 * var(--input-button-dim)) + 
            calc(12 * var(--input-padding))
        )
    );
}
input[name="resource"] {
    display: none;
}
/* see http://jsfiddle.net/8n8hM/ */
/* https://stackoverflow.com/questions/20057581/css-webkit-appearance-none-is-causing-checkbox-to-not-be-checked */
input[type=checkbox] {
    width: var(--input-button-dim);
    height: var(--input-button-dim);
	border:var(--input-border);
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
	-webkit-border-radius: 0px;
	   -moz-border-radius: 0px;
	        border-radius: 0px;
	-webkit-transition: all 0.15s;
	   -moz-transition: all 0.15s;
		-ms-transition: all 0.15s;
		 -o-transition: all 0.15s;
		  	transition: all 0.15s;
}
input[type=checkbox]:focus {
	border-color: #ACACB8;
	color: #2E3236;
}
input[type='checkbox']:checked {
    position:relative;
}
input[type='checkbox']:checked:before {
    content:'';
    display:block;
    width: var(--input-button-dim);
    height: var(--input-button-dim);
    position:absolute;
    top:0px;
    left:0px;
    opacity:0.5;
}
input[name='communities']:checked:before {
    background:none #ACACB8;
}
input[name='refreshCache']:checked:before {
    background:none red;
}
input[name="submit"]:hover {
    background-color: green;
    color: white;
}
input[name="reset"]:hover {
    background-color: red;
    color: white;
}
input[name=communitiesChooser]:hover {
    background-color: darkgray;
    color: white;
}

#resourceChooser {
    display: inline;
    border: none;
    padding: 0 0 5px 5px;
}
#resourceChooser label {
    color: #444;
    background-color: lightgrey;
    border: 1px solid white;
    padding: 5px;
    font: var(--input-font);
}
#resourceChooser label.searchfocus {
    color: white;
    background-color: #444;
}
#communitiesChooser {
    text-align: left;
    width: 300px;
    font: var(--input-font);
}
/* #communitiesChooser input {
    display: inline-block;
} */
#refreshCache {
    margin-top: 5px;
    font: var(--input-font);
    text-align: center;
}
#throbber {
    padding: 0;
    bottom: 0;
    height: 8px;
    /* border-top: 1px solid silver; */
    border-bottom: 1px solid silver;
    padding: 0;
    /* transition: opacity 0.3s ease; */
    background-size: 30px 30px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
    animation: barberpole 0.5s linear infinite;
}
.nothrob {
    opacity: 0;
}
@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}

