html {
    --input-submit-width: 30px;
    --input-refreshcache-width: 20px;
    --input-reset-width: 30px;
    --input-communitieschooser-width: 30px;
/*     --input-minimum-height: 20px; */
    --input-padding: 2px;
    --input-border: 1px solid #444;
    --input-font: 14px/1.2 sans-serif;
}

form {
    margin-top: 40px;
    text-align: left;
}
form fieldset {
    padding: var(--input-padding);
    border: var(--input-border);
}
form input {
    display: inline-block;
    padding: var(--input-padding);
    border: var(--input-border);
    border-radius: 0;
    /* height: var(--input-minimum-height); */
}
form input[type="text"] {
    border: none;

    /* the extra 7px below accounts for the width of the vertical borders of the buttons */
    width: calc(
        100% - 
        calc(
            var(--input-submit-width) + 
            var(--input-refreshcache-width) + 
            var(--input-reset-width) + 
            var(--input-communitieschooser-width) + 
            calc(10 * var(--input-padding))
        )
    );
    
    height: auto;
    /* min-height: 40px;; */
    font: var(--input-font);
    /* background-color: #f5f5f5; */
    -webkit-appearance: none;
}
form input[type="checkbox"] {
    width: var(--input-refreshcache-width);
}
form input[type="radio"] {
    display: none;
}
form input[type="submit"] {
    width: var(--input-submit-width);
    height: 30px;
    border: 1px solid #444;
    border-radius: 0px;
    -webkit-appearance: none;
}
form input[type="submit"]:hover {
    background-color: green;
    color: white;
}
form input[type="reset"] {
    width: var(--input-reset-width);
    height: 30px;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}
form input[type="reset"]:hover {
    background-color: red;
    color: white;
}
#resourceChooser {
    display: inline;
    border: none;
    /* padding: 0; */
}
#resourceChooser label {
    color: #444;
    background-color: lightgrey;
    border: var(--border);
    padding: 4px 5px;
    font: var(--input-font);
}
#resourceChooser label.searchfocus {
    color: white;
    background-color: #444;
}
input[name=communitiesChooser] {
    width: var(--input-communitieschooser-width);
    cursor: pointer;
    height: 30px;
    -webkit-appearance: none;
}
input[name=communitiesChooser]:hover {
    background-color: darkgray;
    color: white;
}
#communitiesChooser {
    text-align: left;
    width: 280px;
    font: var(--input-font);
}
#communitiesChooser input {
    display: inline-block;
}
#refreshCache {
    margin-top: 5px;
    font: var(--input-font);
    text-align: center;
}
#throbber {
    padding: 0;
    bottom: 0;
    height: 8px;
    /* border-top: 1px solid silver; */
    border-bottom: 1px solid silver;
    padding: 0;
    /* transition: opacity 0.3s ease; */
    background-size: 30px 30px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
    animation: barberpole 0.5s linear infinite;
}
.nothrob {
    opacity: 0;
}
@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}