header {
    text-align: center;
}
header form {
/*     margin-top: 50px; */
    margin: 50px auto;
    text-align: left;
    border: 0px solid green;
    max-width: 960px;
}

header a.title {
    position: relative;
    left: 2px;
}

header a.title small {
    font-size: 10px;
    position: relative;
    top: -5px;
/*     display: inline-block;
    margin: 0 0 0 5px;
    padding: 2px 4px;
    vertical-align: super;
    border-radius: 57px;
    background:#7d8492;
    color: white;
    width: 30px; */
}