body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 0;
    max-width: unset;
}

a,
a:visited {
    color:blue !important;
}

main {
    flex: 1;
}

div.title a,
.modal-close {
    font-family: sans-serif;
    font-size: 12px;
}

.modal {
    width: 90%;
    text-align: left;
}

.show {
    display: inline-block;
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

.hide {
    display: none;
    visibility: hidden;
}

footer  {
    margin: 0 auto;
}

footer img {
    max-width: 280px;
}