:root {
    --column-count: 1;
    --column-gap: 20px;
    --image-250: 250px;
}

#container {
    width: 100%;
    position: relative;
    text-align: center;
}

#grid {
    width: calc( ((var(--image-250) + var(--column-gap)) * var(--column-count) - var(--column-gap)) );
    margin: 0 auto;
}

.columns {
    -webkit-column-count: var(--column-count);
    -moz-column-count: var(--column-count);
    column-count: var(--column-count);
    -webkit-column-width: calc(100% / var(--column-count));
    -moz-column-width: calc(100% / var(--column-count));
    column-width: calc(100% / var(--column-count));
    -moz-column-gap: var(--column-gap);
    -webkit-column-gap: var(--column-gap);
    column-gap: var(--column-gap);
}

figure {
    height: auto;
    border: 1px solid;
    padding: 0;
    margin: 0 0 20px 0;
    opacity: 1;

    /* avoid figures splitting across columns */
    /* see https://stackoverflow.com/a/17415553/183692 */
    overflow: hidden; /* fix for Firefox */
    break-inside: avoid-column;
    -webkit-column-break-inside: avoid;
}

figure img {
    width: 100%;
    /* cursor: pointer; */
}
  
figure.figure-250 { width: 250px; }
figure.figure-100 { width: 100px; }

figcaption {
    font-size: 10px;
    font-family: sans-serif;
    padding: 5px;
    text-align: left;
    cursor: pointer;
}

figcaption .desc {

}

@-webkit-keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}
@keyframes fadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

#puff {
    cursor:pointer;
    display:none;
    position:absolute;
    z-index: 1000;
    height:32px;
    width:32px;
    background: url(/img/wvPeK.png) no-repeat;
}

div.switches {
    position: absolute;
    margin: 5px;
}

div.dc {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    float: left;
    margin: 2px;
    cursor: pointer;
}

div.close,
div.maximize {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    float: left;
    margin: 2px;
    cursor: pointer;
    line-height: 1.2em;
    font-family: sans-serif;
}

div.maximize {
    border: 1px solid green;
    background-color: green;
}

div.close {
    border: 1px solid red;
    /* background-color: red; */
}

div.close:hover {
    background-color: red;
}

div.close:hover:before {
    content: 'x';
}