/* communities select box */

/* https://chrisbracco.com/a-simple-css-tooltip/ */
/* Add this attribute to the element that needs a tooltip */
[data-tooltip] {
    position: relative;
    z-index: 2;
    cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
    visibility: hidden;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
    opacity: 0;
    pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
    position: absolute;
    bottom: 28px;
    left: 50%;
    margin-bottom: 0px;
    margin-left: -12px;
    padding: 7px;
    width: 100px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px 3px 0 0;
    background-color: #000;
    background-color: hsla(0, 0%, 20%, 0.9);
    color: #fff;
    content: attr(data-tooltip);
    text-align: center;
    font-size: 10px;
    line-height: 1;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
    position: absolute;
    bottom: 23px;
    left: 50%;
    margin-left: -5px;
    width: 0;
    border-top: 5px solid #000;
    border-top: 5px solid hsla(0, 0%, 20%, 0.9);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: " ";
    font-size: 0;
    line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
    visibility: visible;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
    opacity: 1;
}

.drop-down {
    width: 40px;
/*     background: #afafaf; */
    background: whitesmoke;
    height: 38px;
    float: left;
    cursor: pointer;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    border-top: 1px solid black;
    border-radius: 5px 0 0 5px;
}

.drop-down div.communities {
    position: relative;
    top: 23px;
    left:-1px;
/*     background: #afafaf; */
    background: whitesmoke;
    width: 130px;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    transition: 500ms all ease-out;
    border: 1px solid black;
    border-top: none;
    opacity:0;
}
/* .drop-down div.communities label {
    border: none;
    padding: 13px 0 0 5px;
    margin: 0;
    font-weight: normal;
    cursor: pointer;
}
.drop-down div.communities label input {
    margin-right: 5px;
}
.drop-down div.communities label:hover{
    background-color: #444;
    color: white;
} */
.drop-down.open {
    border-radius: 5px 0 0 0px;
    border-bottom: none;
    z-index: 1;
}
.drop-down.open div.communities {
    max-height: 150px;
    opacity:1;
}
.drop-down .arrow-down {
    width: 0;
    margin: 0 auto;
    top: 30%;
    left: -5px;
    position: relative;
}

div.switches {
	clear: both;
	margin: 10px 5px;
}

div.switches input,
div.switches label {
	float: left;
    font-weight: normal;
}

div.switches input {
	margin-right: 5px;
}

input.switch:empty {
	margin-left: -999px;
}

input.switch:empty ~ label {
	position: relative;
	float: left;
	line-height: 1.6em;
	text-indent: 4em;
/* 	margin: 0.2em 0; */
	cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input.switch:empty ~ label:before, 
input.switch:empty ~ label:after {
	position: absolute;
	display: block;
	top: 0;
	bottom: 0;
	left: 0;
	content: ' ';
	width: 36px;
	background-color: #f5f5f5;
	border-radius: 50px;
	box-shadow: inset 0 1px 0 rgba(0,0,0,0.3);
	-webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}

input.switch:empty ~ label:after {
	width: 13px;
    height: 13px;
	top: 0.1em;
	bottom: 0.1em;
	margin-left: 0.1em;
	background-color: #fff;
	border-radius: 50px;
/* 	box-shadow: inset 0 -0.2em 0 rgba(0,0,0,0.2); */
}

input.switch:checked ~ label:before {
	background-color: green;
}

input.switch:checked ~ label:after {
	margin-left: 2.1em;
}
  
/* end communities select box */