p.xml {
    font-family: Georgia, Times, 'Times New Roman', serif;
    margin-top: 24px;
}

emphasis {
    font-weight: bold;
}

mods\:title,
mods\:roleTerm {
    font-weight: 800;
}

mods\:title:after,
mods\:name:after,
subSubSection paragraph heading {
    content: '\A';
    /* white-space: pre; */
}

paragraph {
    display: table;
    margin-top: 12px;
}

taxonomicname {
    font-style: italic;
}

mods\:namePart {
    font-style: italic
}

location {
    background-color: lightgreen;
}

geocoordinate {
    border: 1px dotted grey;
    border-radius: 5px;
    padding: 2px;
}