.throbber {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    height: 8px;
    border-bottom: 1px solid silver;
    margin-bottom: 20px;
    transition: opacity 0.3s ease;
    background-size: 30px 30px;
    background-image: linear-gradient(45deg, rgba(0, 0, 0, 0.1) 25%, transparent 25%, transparent 50%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.1) 75%, transparent 75%, transparent);
    animation: barberpole 0.5s linear infinite;
    opacity: 0;
}

/* .throbber-off {
    opacity: 0;
} */

.throbber.show {
    opacity: 1;
}

@keyframes barberpole {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 60px 30px;
    }
}